<div class="text">
    <span ng-if="location.schoenhiers === 1 && mySchoenHiers.locations[location._id]">Du findest’s schön hier</span>
    <span ng-show="!(mySchoenHiers.locations[location._id]) || !authenticated" ng-if="!location.schoenhiers || (location.schoenhiers > 0 && !mySchoenHiers.locations[location._id])">
        <ng-pluralize count="location.schoenhiers||0"
                      when="{
                        '0': 'Ist es nicht schön hier?',
                        '1': 'Einer findet’s schön hier.',
                        'other': '{} finden’s schön hier.'
                      }"></ng-pluralize>
    </span>

    <span ng-if="mySchoenHiers.locations[location._id] && (!location.schoenhiers || location.schoenhiers > 1)">
        <span ng-bind="location.schoenhiers - 1"></span> und du finden’s schön hier.
    </span>
</div>
<div class="schoen-hier-btn pointer" ng-class="{'active': mySchoenHiers.locations[location._id]}">
    <span ng-click="schoenHier()">schön hier</span>
</div>

