<div class="result trip-min-view">
    <div class="inner-result">
        <div class="row row-container">
            <div class="location-container" ng-show="showLocs == true">
                <h3 class="white">Locations</h3>

                <div class="edittrip-container">
                    <div class="mylocations-wrapper without-overlay without-pointer">
                        <div ng-repeat="location in locations"
                             class="relative location border-radius-decent trip-location-container">
                            <div ng-include="'templates/editTrip/singleTrip.html'" include-replace>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-lg-8 no-margin no-padding img-list-container">
                <img-triplist id="result-slider" size="size" locations="trip.locations" mapwidth="300" mapheight="150"
                              scale="1">
                </img-triplist>
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-4 no-margin result-content-box">
                <div class="result-content-wrapper pointer" ui-sref="trip({tripId:trip._id})">
                    <h3 class="result-trip-title">{{trip.title}}</h3>


                    <div class="daterange" ng-if="!(trip.start_date && trip.end_date)"><strong>Kein Datum festgelegt</strong></div>

                    <div class="daterange" ng-if="(trip.start_date == trip.end_date)"><strong>
                        <resultdate class="black" date="trip.start_date"></resultdate>
                    </strong></div>

                    <div class="result-trip-date"
                         ng-if="(trip.start_date && trip.end_date) && (trip.start_date !== trip.end_date)">
                        <strong>
                            <resultdate class="black" date="trip.start_date"></resultdate>
                        </strong>
                        bis
                        <strong>
                            <resultdate class="black" date="trip.end_date"></resultdate>
                        </strong>
                    </div>

                    <p class="result-user-info">
                        Von <span class="black"><strong>{{trip.username}}</strong></span>
                    </p>

                    <div class="day-amount black">
                        <span ng-if="trip.days"><strong>{{trip.days}} </strong>
                            <ng-pluralize count="trip.days" when="{'1': 'Tag', 'other': 'Tage'}"></ng-pluralize>
                        </span>
                        <span>
                            <span ng-if="trip.days"> | </span>
                            <strong>{{locationCount}}</strong>
                            <ng-pluralize count="locationCount"
                                          when="{'1': 'Location', 'other': 'Locations'}"></ng-pluralize>
                        </span>
                        <span ng-if="trip.persons">
                            <span ng-show="trip.days || trip.persons "> | </span>
                            <strong>
                                <ng-pluralize count="trip.persons"
                                              when="{'5': '4+', '1': '1', 'other': '{}'}">
                                </ng-pluralize>
                            </strong>
                            <ng-pluralize count="trip.persons"
                                          when="{'1': 'Person', 'other': 'Personen'}">

                            </ng-pluralize>
                        </span>
                    </div>
                    <br>

                    <div class="min-view-accomodation-container" ng-show="trip.accommodation">
                        <div class="accomodation-label">
                            mit Übernachtung
                        </div>
                        <acc-equ-chooser
                            accommodation-equipment-selectable="false"
                            just-show-selected="true"
                            accommodation-equipment="trip.accommodation_equipment"
                            icons-color="'white'">
                        </acc-equ-chooser>
                    </div>

                </div>
                <div class="result-content-bottom">
                    <div class="icon-container tt tt-small" aria-label="{{trip.mood.title}}"
                         ng-style="{'background-image':'url(./images/icons/moods_white/'+trip.mood.icon+')'}">
                    </div>
                    <div class="icon-circle-container">
                        <span class="tt-wrapper tt tt-small" aria-label="Trip ansehen">
                        <img class="icon-circle tt tt-small"
                             src="images/icons/trip-min-view/trip_ansicht.svg" ui-sref="trip({tripId: trip._id})">
                        </span>
                    </div>
                    <div class="icon-circle-container">
                        <span class="tt-wrapper tt tt-small " aria-label="Locations ansehen">
                            <img class="icon-circle" ng-click="showLocations()"
                                 src="images/icons/trip-min-view/locations.svg">
                        </span>
                     </div>
                    <div ng-if="meId != trip.userid" class="icon-circle-container">
                        <span class="tt-wrapper tt tt-small" aria-label="Teilnehmen">
                            <img class="icon-circle" ng-click="participate()"
                                 src="images/icons/trip-min-view/chat.svg">
                        </span>
                    </div>
                    <div ng-if="meId == trip.userid" class="icon-circle-container">
                        <span class="tt-wrapper tt tt-small" aria-label="Bearbeiten">
                            <img class="icon-circle" ui-sref="editTrip({tripId: trip._id})"
                                src="images/icons/trip-min-view/edit.svg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
