<div class="error-container container full-without-header" ng-controller="ErrorCtrl as ec">

    <div class="row viewport-margin-top-10">

        <div class="col-xs-12 center col-sm-12">

            <img class="sad-lorenz" src="images/svgs/lorenz_traurig.svg">


            <h2 ng-if="!ec.params.r || !ec.currentError || !ec.currentError.message">Leider ist etwas schief
                gelaufen</h2>

            <h4 ng-if="ec.currentError && ec.currentError.message" ng-bind="ec.currentError.message"></h4>

        </div>

    </div>
</div>





