<div class="error-container container full-without-header" ng-controller="ErrorCtrl as ec">

        <div class="row viewport-margin-top-10">

            <div class="col-xs-12 center col-sm-12">
                <h1>Fehler</h1>
                <div class="">
                    <img class="sad-lorenz" src="/images/svgs/lorenz_traurig.svg">
                </div>
                <div class="message">
                    <p ng-if="!ec.params.r || !ec.currentError">Leider ist etwas schief gelaufen</p>
                    <p ng-if="ec.currentError" ng-bind="ec.currentError.message"></p>
                </div>
            </div>

        </div>
</div>





