<div class="insert-trip-container" ng-controller="InsertTripCtrl as itc">

    <div id="trip-image" class="trip-image header-image-container">
        <a ng-if="itc.showAddLocationsBtn" ng-click="itc.scrollTo('availableLocations')"
           class="choose-image welcome_button">locations hinzufügen!</a>

        <flex-slider ng-if="!itc.showAddLocationsBtn" class="static" direction-nav="false" slide="s in itc.slides">
            <li>
                <div class="header-image" style="background-image: url({{s}});"></div>
            </li>
        </flex-slider>
        <!--<div class="header-image" ng-style="{'background-image': 'url(' + itc.backgroundImage + ')' }"></div>-->
    </div>
    <div class="container trip-insert">
        <div class="row">
            <form name="itc.form">
                <div class="input-content">
                    <div class="content-header">
                        <div class="col-xs-6">
                            <img class="profile-image" ng-src="{{itc.me.picture.picture}}">
                        </div>
                        <div class="moods col-xs-4">
                            <div class="feeling-text">
                                <p>wie fühlt sich dein trip an?</p>
                            </div>
                            <div class="mood-choice">
                                <div class="add-mood">
                                    <ul class="mood-menu">
                                        <li class="menu-item">
                                            <a>
                                                <img class="plus-image" src="images/icons/plus.png">
                                            </a>
                                            <ul>
                                                <li class="selectable-moods" ng-repeat="mood in itc.selectableMoods"
                                                    ng-click="itc.selectMood(mood)">
                                                    <a>{{mood.title}}</a>
                                                    <img class="select-mood-image" ng-src="images/icons/{{mood.icon}}">
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="selected-moods" ng-repeat="mood in itc.selectedMoods">
                                    <div class="mood-images tt tt-small" aria-label="{{mood.title}}">
                                        <img class="mood-image" ng-src="images/icons/{{mood.icon}}">
                                    </div>
                                    <img class="cross-image" src="images/icons/cross_button_moods.png"
                                         ng-click="itc.removeSelectedMood(mood)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="col-sm-4">
                            <div class="left-section" set-class-when-at-top="fix-to-top" breakpoint="768">
                                <input type="hidden" ng-model="itc.startDateReal" required/>
                                <input type="hidden" ng-model="itc.endDateReal"/>
                                <datepicker start-date-real="itc.startDateReal"
                                            end-date-real="itc.endDateReal" on-linked="itc.datePickerOnLinked"></datepicker>
                                <div class="days-amount">
                                    <p class="text">anzahl tage</p>

                                    <div class="insert-trip-circle" ng-click="itc.days=1"
                                         ng-class="{'insert-trip-circle-selected': itc.days == 1}">1
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.days=2"
                                         ng-class="{'insert-trip-circle-selected': itc.days == 2}">2
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.days=3"
                                         ng-class="{'insert-trip-circle-selected': itc.days == 3}">3
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.days=4"
                                         ng-class="{'insert-trip-circle-selected': itc.days == 4}">3+
                                    </div>
                                </div>
                                <div class="persons-amount">
                                    <p class="text">anzahl personen</p>

                                    <div class="insert-trip-circle" ng-click="itc.persons=1"
                                         ng-class="{'insert-trip-circle-selected': itc.persons == 1}">1
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.persons=2"
                                         ng-class="{'insert-trip-circle-selected': itc.persons == 2}">2
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.persons=3"
                                         ng-class="{'insert-trip-circle-selected': itc.persons == 3}">3
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.persons=4"
                                         ng-class="{'insert-trip-circle-selected': itc.persons == 4}">4
                                    </div>
                                    <div class="insert-trip-circle" ng-click="itc.persons=5"
                                         ng-class="{'insert-trip-circle-selected': itc.persons == 5}">4+
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-section col-sm-8">
                            <input class="text-fields" type="text" name="tripTitle"
                                   placeholder="benenne deinen trip"
                                   ng-model="itc.tripTitle" required>
                            <div style="margin-top: 5px" class="validation-error"
                                 ng-show="(itc.form.tripTitle.$touched) && itc.form.tripTitle.$error.required">
                                <p class="error-message">bitte gib einen titel für deinen trip ein</p>
                            </div>
                            <input class="text-fields" name="tripCity" type="text"
                                   placeholder="wo findet dein trip statt?"
                                   ng-map-autocomplete options="itc.googlePlacesOptions" ng-model="itc.tripCity"
                                   details="itc.selectedPlaceDetails"
                                   required>
                            <div style="margin-top: 5px" class="validation-error"
                                 ng-show="(itc.form.tripCity.$touched) && itc.form.tripCity.$error.required">
                                <p class="error-message">bitte gib ein wo dein trip statt findet</p>
                            </div>
                            <div class="location-section">
                                <a class="available-locations" name="availableLocations"></a>

                                <p ng-click="itc.showAvailableLocations = !itc.showAvailableLocations">available
                                    locations</p>

                                <div class="locations" ng-class="{active: itc.showAvailableLocations }"
                                     ng-show="itc.availableLocations.length">
                                    <div class="location" ng-repeat="(locationId, loc) in itc.availableLocationsHash">
                                        <div class="img-container"><img ng-src="{{loc.images.thumbnail || loc.images.googlemap + '&size=240x140'}}" alt=""
                                                                        class="location-img"/></div>
                                        <div class="add-location">
                                            <a href="" ng-click="itc.addLocationToTrip(locationId)">+</a>
                                        </div>
                                        <div class="details">
                                            <h3>{{loc.title}}</h3>

                                            <p>{{loc.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <p ng-click="itc.showSelectedLocations = !itc.showSelectedLocations">selected
                                    locations</p>

                                <div class="locations" ng-class="{active: itc.showSelectedLocations }">
                                    <div class="location" ng-repeat="(locationId, loc) in itc.selectedLocations">
                                        <div class="img-container"><img ng-src="{{loc.images.thumbnail || loc.images.googlemap + '&size=240x140'}}" alt=""
                                                                        class="location-img"/></div>
                                        <div class="add-location">
                                            <a href="" ng-click="itc.removeLocationFromTrip(locationId)">-</a>
                                        </div>
                                        <div class="moods">moods</div>
                                        <div class="details">
                                            <h3>{{loc.title}}</h3>

                                            <p>{{loc.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="no-locations-available" ng-show="!itc.availableLocations.length">
                                    <p>füg' du erstmal locations hinzu! vorher machst du hier gar nichts!</p>
                                    <a ui-sref="insertLocation" ng-click="itc.storeValues()">location hinzufügen</a>
                                </div>
                            </div>
                        <textarea class="trip-description text-fields" name="tripDescription" placeholder="beschreibe deinen trip"
                                  ng-model="itc.tripDescription"
                                  required></textarea>
                        <div class="validation-error"
                             ng-show="(itc.form.tripDescription.$touched) && itc.form.tripDescription.$error.required">
                            <p class="error-message">bitte gib eine beschreibung deines trips ein</p>
                        </div>
                        <textarea class="trip-money text-fields" type="text"
                                  placeholder="für was braucht dein gast eventuell geld?"
                                  ng-model="itc.tripDescriptionMoney"></textarea>

                            <div class="accommodation">
                                <span>unterkunft</span>

                                <div class="circle" ng-click="itc.toggleAccommodation()"
                                     ng-class="{'circle-selected': itc.accommodation == true}"></div>
                            </div>
                            <div class="accommodation-equipment" ng-show="itc.accommodation == true">
                                <acc-equ-chooser
                                    accommodation-equipment-selectable="itc.accommodationEquipmentSelectable"
                                    accommodation-equipment="itc.accommodationEquipment"></acc-equ-chooser>
                            </div>
                            <div>
                                <div class="save-trip submit-btn submit-progress" ng-class="{running: itc.running}">
                                    <input type="submit"
                                           ng-disabled="itc.form.$invalid || !itc.locationHasBeenSelected"
                                           ng-click="itc.saveTrip()" value="SPEICHERN"/>

                                </div>
                                <div ng-class="{open: itc.errormsg}" class="msg error-msg">{{itc.errormsg}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
