<div class="insert-new-trip">
    <div class="left-input">
        <input type="date">
        <p>anzahl Personen</p>
        <input type="range">
        <p>budget in €</p>
        <input type="range">
    </div>
    <div class="right-input">
        <input type="text" placeholder="ort">
        <textarea cols="50" rows="5" placeholder="beschreibung" ></textarea>
        <input type="text" placeholder="location pool">
        <input type="text" placeholder="family fun,...">
        <input type="text" placeholder="übernachtung">
    </div>
</div>

