<div class="insert-trip-container">
    <div class="trip-image">
        <img src="images/No_Image_Placeholder.jpg">
    </div>
    <div class="input-content">
        <div class="content-header">
            <div class="profile-image">
                <img src="images/Megan.jpg">
            </div>
            <div class="feeling-text">
                <p>Wie fühlt sich dein Trip an?</p>
            </div>
            <div class="add-mood">
                <img src="images/icons/plus.png">
            </div>
        </div>

    </div>

</div>


<!--<div class="insert-container-sidebar" ng-controller="InsertTripCtrl as ic">-->
    <!--<div class="insert-search-menu">-->
        <!--<div ng-class="{'insert-item-active': ic.isActive('insert')}" ng-click="ic.activeItem = 'insert'">-->
            <!--<label class="insert-item-description" ng-show="ic.isActive('insert')">-->
                <!--insert trip-->
            <!--</label>-->
            <!--<img class="insert-item-image" src="/images/icons/plus.png" ng-click="sc.activeItem = 'insert'">-->
        <!--</div>-->
        <!--<div ng-class="{'insert-item-active': ic.isActive('edit')}">-->
            <!--<label class="insert-item-description" ng-show="ic.isActive('edit')">-->
                <!--edit trip-->
            <!--</label>-->
            <!--<img class="insert-item-image" src="/images/icons/stift.png" ng-click="ic.activeItem = 'edit'">-->
        <!--</div>-->
        <!--<div ng-class="{'insert-item-active': ic.isActive('profile')}">-->
            <!--<label class="insert-item-description" ng-show="ic.isActive('profile')">-->
                <!--my profile-->
            <!--</label>-->
            <!--<img class="insert-item-image" src="/images/icons/regler.png" ng-click="ic.activeItem = 'profile'">-->
        <!--</div>-->
        <!--<div ng-class="{'insert-item-active': ic.isActive('messages')}">-->
            <!--<label class="insert-item-description" ng-show="ic.isActive('messages')">-->
                <!--my messages-->
            <!--</label>-->
            <!--<img class="insert-item-image" src="/images/icons/mail.png" ng-click="ic.activeItem = 'messages'">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="insert-settings sample-show-hide" ng-show="ic.activeItem != ''" style="clear:both;">-->

    <!--</div>-->
    <!--<div class="insert-inputs sample-show-hide" ng-show="ic.activeItem != ''">-->
        <!--<div ng-class="{'insert-offset': ic.isActive('insert')}">-->
            <!--<div ng-switch="ic.activeItem">-->
                <!--<div ng-switch-when="insert">-->
                    <!--<div ng-include="'/templates/insertTrip/insert.html'"></div>-->
                <!--</div>-->
                <!--<div ng-switch-when="edit">-->
                    <!--<div ng-include="'/templates/insertTrip/edit.html'"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

