<div class="insert-new-trip">
    <div class="left-input">
        <input type="date">
        <p>anzahl Personen</p>
        <div class="persons" style="float: left; width: 100%">
            1
            <!--<input type="range" min="1" max="6" value="1">-->
            <input type="range">
            6
        </div>

        <!--<p>budget in €</p>-->
        <!--<input type="range">-->
    </div>
    <div class="right-input">
        <input type="text" placeholder="ort">
        <textarea cols="50" rows="5" placeholder="beschreibung" ></textarea>
        <input type="text" placeholder="location pool">
        <input type="text" placeholder="family fun,...">
        <input type="text" placeholder="übernachtung">
    </div>
</div>

