<div class="date-container">
    <datepicker start-date-real="sc.query.start_date" end-date-real="sc.query.end_date" on-linked="false"></datepicker>
    <div class="date-range-container">
        <p>Anzahl Tage</p>
        <div class="circle" ng-click="sc.query.days=1" ng-class="{'circle-selected': sc.query.days == 1}">1</div>
        <div class="circle" ng-click="sc.query.days=2" ng-class="{'circle-selected': sc.query.days == 2}">2</div>
        <div class="circle" ng-click="sc.query.days=3" ng-class="{'circle-selected': sc.query.days == 3}">3</div>
        <div class="circle" ng-click="sc.query.days=4" ng-class="{'circle-selected': sc.query.days == 4}">3+</div>
    </div>
</div>
