<div class="filter-container">
    <p>Anzahl Personen</p>
    <div class="circle" ng-click="sc.query.persons=1" ng-class="{'circle-selected': sc.query.persons == 1}">1</div>
    <div class="circle" ng-click="sc.query.persons=2" ng-class="{'circle-selected': sc.query.persons == 2}">2</div>
    <div class="circle" ng-click="sc.query.persons=3" ng-class="{'circle-selected': sc.query.persons == 3}">3</div>
    <div class="circle" ng-click="sc.query.persons=4" ng-class="{'circle-selected': sc.query.persons == 4}">4</div>
    <div class="circle" ng-click="sc.query.persons=5" ng-class="{'circle-selected': sc.query.persons == 5}">5</div>
</div>

<div class="filter-container">
    <span>Übernachtung</span>
    <div class="circle" ng-click="sc.toggleAccomodation()" ng-class="{'circle-selected': sc.query.accomodation == false}"></div>
</div>
