<div class="search-container" ng-controller="SearchCtrl as sc">
    <div class="container">
        <div class="fixed-top">
            <div ng-class="{'data-available': sc.dataAvailable}" class="welcome_select">
                <div ng-class="{'fade-top' : sc.hideBar}" class="search-searchbar">
                    <span class="relative green">
                        <span class="margin-right">Du willst</span>
                            <div class="list-selection"
                                 list-selection multiple=false
                                 values="sc.days"
                                 selected-model="sc.selectedDay" selected-name="sc.showDays"
                                 open-element="mc.openElement">
                            </div>
                    </span>

                    <span class="relative green">
                        <div icons="true" list-selection values="sc.moods"
                             selected-model="sc.selectedMood" selected-name="sc.showMoods"
                             open-element="mc.openElement">
                        </div>
                    </span>

                    <span class="relative green">
                         <span class="margin-right">in</span>
                         <div class="list-selection" list-selection values="sc.cities"
                              selected-model="sc.selectedCity" selected-name="sc.showCities"
                              open-element="mc.openElement">
                         </div>
                    </span>
                </div>
            </div>
            <span class="mobile-settings" ng-init="moreFilter=false">
                <div class="toggle-settings" active-popover click-value="'moreSettings'" compare-to="mc.openElement">
                    <div class="toggle-settings-container pointer">
                        <div class="filter-icon"></div>
                        <span>Weitere Filter</span>
                    </div>
                </div>
                <div class="settings-container" ng-show="mc.openElement === 'moreSettings'">
                    <div class="datepicker-container">
                        <datepicker  start-date-real="sc.query.start_date" end-date-real="sc.query.end_date"
                                     on-linked="false"></datepicker>
                    </div>
                    <div class="filter-container" ng-include="'templates/search/filter.html'"></div>
                </div>
            </span>
        </div>
    </div>
    <div ng-include="'templates/search/searchSidebar.html'"></div>
    <div ng-include="'templates/search/searchResult.html'"></div>
</div>
