<div class="results-container container" ng-click="sc.focusResult()" ng-class="{'loading' : src.animateLoading}"
     ng-controller="SearchResultCtrl as src">
    <div class="row">
        <div class="col-xs-12" ng-repeat="result in src.results">
            <trip-min-view trip="result" size="'mid'" mood="result.mood"></trip-min-view>
        </div>
        <div class="col-xs-12" ng-hide="src.noMoreTrips || src.dataLoading">
            <div class="load-more-button pointer" analytics-on="click" analytics-event="search/loadmoreButton" ng-click="src.loadMorePages()">
                Mehr Ergebnisse
            </div>
        </div>
    </div>
</div>
