<div class="container-sidebar">
    <div class="search-menu" ng-class="{'search-menu-inactive': sc.isActive('')}">
        <div class="item pointer" ng-class="{'item-active': sc.isActive('filter')}" ng-click="sc.toggleActiveItem('filter')">
        </div>
    </div>
    <div class="settings sample-show-hide" ng-show="sc.activeItem != ''" style="clear:both;">
        <div>
            <div ng-show="sc.activeItem == 'filter'">
                <div class="filter-container">
                <div ng-include="'templates/search/dates.html'"></div>
                <div ng-include="'templates/search/filter.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
