<!--<div class="container-fluid" ng-include="'templates/search/searchResult.html'">-->


<!--</div>-->
<div class="container-sidebar" ng-controller="SearchMainCtrl as smc">
    <div class="search-menu">
        <div ng-class="{'item-active': smc.isActive('search')}" ng-click="smc.activeItem = 'search'">
            Search
            <Label class="item-description" ng-show="smc.isActive('search')">
                <input class="input-transparent" type="text">
            </label>
        </div>
        <div ng-class="{'item-active': smc.isActive('date')}">
            <img src="/images/icons/kalender.png" ng-click="smc.activeItem = 'date'">
            <label class="item-description" ng-show="smc.isActive('date')">
                Dates
            </label>
        </div>
        <div ng-class="{'item-active': smc.isActive('filter')}">
            <img src="/images/icons/regler.png" ng-click="smc.activeItem = 'filter'">
            <label class="item-description" ng-show="smc.isActive('filter')">
                Filter
            </label>
        </div>
        <div ng-class="{'item-active': smc.isActive('moods')}">
            <img src="/images/icons/wegweiser.png" ng-click="smc.activeItem = 'moods'">
            <label class="item-description" ng-show="smc.isActive('moods')">
                Moods
            </label>
        </div>
    </div>
    <div class="settings sample-show-hide" ng-show="smc.activeItem != ''" style="clear:both;">
        <div ng-class="{'search-offset': smc.isActive('search'), 'date-offset': smc.isActive('date'), 'filter-offset': smc.isActive('filter'), 'moods-offset': smc.isActive('moods')}">
            <div ng-switch="smc.activeItem">
                <div ng-switch-when="search">
                    <div ng-include="'/templates/search/city.html'"></div>
                </div>
                <div ng-switch-when="date">
                    <div ng-include="'/templates/search/dates.html'"></div>
                </div>
                <div ng-switch-when="filter">
                    <div ng-include="'/templates/search/filter.html'"></div>
                </div>
                <div ng-switch-when="moods">
                    <div ng-include="'/templates/search/moods.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" ng-include="'templates/search/searchResult.html'"></div>


