<div class="insert-trip-container" ng-controller="TripCtrl as tc">
    <div class="trip-image">
        <img class="trip-image" ng-src="{{tc.trip.images.picture}}">
    </div>

    <div class="input-content">
        <div class="content-header">
            <div class="profile-image">
                <img class="pointer" ng-src="{{tc.user.picture.picture}}" ui-sref="user({profileId: tc.trip.userid})">
            </div>
            <div class="btn-mood-container">
                <div class="message-button pointer">ANSCHREIBEN</div>
                <div class="trip-mood-container">
                    <span ng-repeat="mood in tc.trip.moods" >
                        <span ng-repeat="availableMood in tc.availableMoods |filter:mood">
                            <img class="trip-mood-icon" ng-src="./images/icons/{{availableMood.icon}}">
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="content-bottom">
            <div class="left-section">
                <div class="general-trip-info">
                    <p>{{tc.trip.city.title}}</p>
                    <p> {{tc.trip.start_date}} - {{tc.trip.end_date}}</p>
                    <p>
                        <span ng-show="tc.trip.accommodation == false">Keine</span>
                        Übernachtung
                    </p>
                    <p> {{tc.trip.persons}} Personen</p>
                </div>
            </div>
            <div class="right-section">
                <div class="trip-info">
                    <h1>{{tc.trip.title}}</h1><br>
                    <h5>Beschreibung</h5>
                    <p>{{tc.trip.description}}</p>
                    <h5>Budget</h5>
                    <p>{{tc.trip.description}}</p>
                    <h5>Unterkunft</h5>
                    <div class="accommodation-equipment">
                        <acc-equ-chooser accommodation-equipment-selectable="false" accommodation-equipment="tc.trip.accommodation_equipment"></acc-equ-chooser >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

