<div class="container">

    <div class="row">

    <div class="col-sm-4">
        <h4>Ein Projekt der Studiengänge<br>Informatik und Kommunikationsdesign<br>der HTWGKonstanz</h4>
    </div>


        <div class="col-sm-4 center">

            <img class="footer_logo" src="images/logo/locator_schriftzug.png">

        </div>
        <div class="col-sm-4">
            <img class="img-responsive htwg_logo" src="images/logo/htwg_white.png">
        </div>


        <div class="col-xs-12">
            <div class="col-xs-12"><span class="separator"></span></div>
            <div class="social-wrapper">
                <ul>
                    <li><a href="https://github.com/locator-kn" target="_blank">
                        <img class="social" src="images/socials/github.png">
                        Github</a></li>
                    <li><a href="https://www.facebook.com/locator.kn" target="_blank"><img class="social"
                                                                                           src="images/socials/fb.png">
                        Facebook</a>
                    </li>
                    <li><a target="_blank" href="https://instagram.com/locator_app" class="footer-app-link"><img
                        class="social" width="25" src="images/socials/insta.png" alt="">
                        Instagram</a></li>
                    <li><a target="_blank" href="https://twitter.com/locator_app"><img class="social"
                                                                                       src="images/socials/twitter.png">
                        Twitter</a>
                    </li>
                    <li><a href="impressum.html">Impressum</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

