<div class="staticButtons" ng-controller="StaticButtonCtrl as sbc">
    <div class="static-searchButton" ng-show="showSearchButton" ng-click="sbc.searchWithContext()">
        <div class="icon-wrapper tt tt-small tt-right" aria-label="suche nach trips">
        <img class="search-icon" ng-src="images/icons/suche.png">
        </div>
    </div>
    <div class="static-createButton" ng-show="showCreateButton" ui-sref="insertTrip">
        <div class="icon-wrapper tt tt-small tt-left" aria-label="erstelle eine neue location">
        <img class="insert-icon" ng-src="images/icons/biete.png">
        </div>
    </div>
</div>
