<div class="row">
    <div class="col-xs-10">
        <h2>Wie kann ich Trips erstellen?</h2>
    </div>
    <div class="col-xs-2">
        <img ng-click="wc.createHelp = false" class="right pointer close-button" src="images/icons/white_cross.png">
    </div>

    <span class="separator"></span>


    <div class="col-xs-12">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-04.png" class="help-icon"> <span>1. Bestimme Triplänge, Ort und Stimmung</span>
        </h4>
    </div>

    <div class="col-xs-12 right">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-05.png" class="help-icon"> <span>2. Erstelle Locations, markiere den Ort mit GPS oder ...</span>
        </h4>
    </div>

    <div class="col-xs-12">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-06.png" class="help-icon"> <span>3. ... greif auf die Locations anderer Locator zu</span>
        </h4>
    </div>

    <div class="col-xs-12 right">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-07.png" class="help-icon"> <span>4. Benenne und beschreibe deinen Trip</span>
        </h4>
    </div>

    <span class="separator second"></span>

    <div class="col-xs-12">
        <p> Wenn dir kein Trip aus der Suche zusagt, kannst du dir auch deinen ganz eigenen Trip zusammenstellen. Du
            kannst auf alle Locations der anderen User zugreifen und mit der Stichwortsuche ganz einfach die Locations
            aussuchen, die dir gefallen.
        </p>

        <p>Wenn dir das nicht reicht, erstelle deine Lieblingslocations, markiere sie auf
            der Karte und lass andere daran teilhaben.
        </p>
    </div>

</div>


