<div class="opener create" ng-controller="WelcomeCreateCtrl as wc" ng-class="{show: wc.dataAvailable}">

    <div class="welcome_wrapper">
        <div class="welcome_select">

            <span class="red">Ich biete 3 Tage</span>

            <span class="red"><div list-selection multiple=true values="wc.moods"
                                   selected-model="wc.selectedMood"></div></span>

            <span class="fullwidth"><span class="red"> <span class="margin-right">in</span>

           <div class="list-selection" list-selection values="wc.cities"
                selected-model="wc.selectedCity"></div></span></span>

            <div class="fullwidth welcome_button_wrapper">
                <a class="welcome_button"
                   ui-sref="search({city: wc.selectedCity.query_name, moods: wc.selectedMood.query_name})">Trip
                    suchen</a>
            </div>
        </div>
    </div>

</div>
