<div class="opener create" ng-class="{show: wc.dataAvailable}">

    <div class="welcome_wrapper">
        <div class="welcome_select">

             <span class="fullwidth"><span class="red"><span class="margin-right">Du bietest</span>
                    <div class="list-selection"
                         title="'Triplänge'" list-selection multiple=false
                         values="wc.create.days"
                         selected-model="wc.create.selectedDay" selected-name="wc.create.showDays"
                         open-element="mc.openElement"></div></span></span>



             <span class="fullwidth"><span class="red"><div title="'Tripstimmung'" class="list-selection" list-selection
                                                            values="wc.create.moods"
                                                            icons="true" selected-model="wc.create.selectedMood"
                                                            selected-name="wc.create.showMoods"
                                                            open-element="mc.openElement"></div></span></span>

            <span class="fullwidth"><span class="red"> <span class="margin-right">in</span>

           <div title="'Triport'" class="list-selection" list-selection values="wc.create.cities"
                selected-model="wc.create.selectedCity" selected-name="wc.create.showCities"
                open-element="mc.openElement"></div></span></span>

            <div class="welcome_button_wrapper">


                <a class="welcome_button"
                   ng-click="wc.startCreate()">Trip
                    erstellen
                </a>

                <span class="fullwidth">
                 <span ng-click="wc.createHelp = true" class="pointer tt tt-small front-help-wrapper"
                       aria-label="Wie kann ich Trips erstellen?"><img class="img-responsive"
                                                                       src="images/icons/fragezeichen_weiss-61_360.png"></span></span>


            </div>
        </div>
    </div>

</div>
