<div class="opener" ng-controller="WelcomeCtrl as wc">
    <!--
    <div class="logo">
        <div class="home-logo">
            <img src="../../images/locator-logo-big.png" alt=""/>
        </div>
    </div>


    <div class="welcome_search nl-form">
        <p class="item"><span>Ich will</span>

        <div class="item nl-field nl-dd">
            <a ng-click="wc.open($event)" ng-class="{'open': wc.isOpen }" class="nl-field-toggle">{{wc.mood}}
                <ul>
                    <li ng-click="wc.select($event)" ng-repeat="mood in wc.moods">{{mood.title}}</li>
                </ul>
            </a>
        </div>
        <span>in Konstanz</span></p>
    </div>
    -->

    <div class="welcome_select">
        Ich will
        <div select values="wc.moods" selected-model="wc.selectedMood"></div>
    </div>

</div>
