<div class="opener">

    <div class="absolute-slider" ng-controller="SlideCtrl">
        <flex-slider class="static" slide="s in slides">
            <li>
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
    </div>

    <div class="row">
        <div class="absolute-front">
            <div class="center">

                <div class="col-xs-12 headline">
                    <h2><u>Tripl</u></h2>
                </div>

                <div class="col-xs-12 headline">
                    <h2><u>Dein Trip, wie du ihn möchtest</u></h2>
                </div>

                <a href="#" scroll-to="modus">Click me!</a>
            </div>
        </div>
    </div>
</div>
