<div class="opener" ng-controller="WelcomeCtrl as wc">

    <div class="welcome_wrapper">
        <div class="welcome_select">

            <span>Du willst 3 Tage</span>

            <div select multiple=true values="wc.moods" selected-model="wc.selectedMood"></div>
            <span class="margin-right">in</span>

            <div select values="wc.cities" selected-model="wc.selectedCity"></div>

            <a class="welcome_button" ui-sref="search({city: wc.selectedCity.query_name, moods: wc.selectedMood.query_name})">Trip suchen</a>
        </div>
    </div>

</div>
