<div class="opener search" ng-controller="WelcomeSearchCtrl as wc" ng-class="{show: wc.dataAvailable}">

    <div class="welcome_wrapper">
        <div class="welcome_select">
            <div class="text-wrapper">
                <span class="green"><span class="margin-right">Du willst</span>
                    <div class="list-selection"
                         list-selection multiple=false
                         values="wc.days"
                         selected-model="wc.selectedDay" selected-name="wc.showDays"
                         open-element="mc.openElement"></div></span>

                <span class="green">

                    <div class="list-selection" list-selection multiple=false values="wc.moods"
                         selected-model="wc.selectedMood" selected-name="wc.showMoods"
                         open-element="mc.openElement"></div>
</span>
            <span class="fullwidth"><span class="green"><span class="margin-right">in</span>

            <div class="list-selection" list-selection values="wc.cities" selected-name="wc.showCities"
                 open-element="mc.openElement" selected-model="wc.selectedCity"></div></span></span>
            </div>
            <div class="fullwidth welcome_button_wrapper">
                <a class="welcome_button"
                   ng-click="wc.search()">Trip
                    suchen</a>
            </div>
        </div>
    </div>

</div>
