<div class="row" id="help">
    <div class="col-xs-10">
        <h2>Wie funktioniert die Suche?</h2>
    </div>
    <div class="col-xs-2">
        <img ng-click="wc.searchHelp = false" class="right pointer close-button" src="images/icons/white_cross.png">
    </div>

    <span class="separator"></span>


    <div class="col-xs-12">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-01.png" class="help-icon"> <span>1. Bestimme, wie lange
            dein Trip dauern soll</span></h4>
    </div>

    <div class="col-xs-12 right">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-03.png" class="help-icon"> <span>2. Such eine Stimmung
            für deinen Trip aus</span></h4>
    </div>

    <div class="col-xs-12">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-02.png" class="help-icon"> <span>3. Wähle die Stadt, in
            die du reisen möchtest</span></h4>
    </div>

    <div class="col-xs-12 right">
        <h4 class="help-item"><img src="images/icons/help/Erkläricons-04.png" class="help-icon"> <span>4. Verfeinere deine
            Suche mit den Filtern</span></h4>
    </div>

    <span class="separator second"></span>

    <div class="col-xs-12">
        <p> Wenn du einen Trip gefunden hast, kannst du dir die Locations anschauen,
            die der Trip zu bieten hat. Du kannst den User direkt anschreiben, dich
            mit ihm kurzschließen und Einzelheiten klären.</p>

        <p>Du hast für deinen Trip einen ganz persönlichen Guide, der dir das zeigt,
            worauf du Bock hast.</p>
    </div>

</div>


