<div ng-hide="showSteffen" class="container-fluid">
    <div class="container welcome_container">
        <div class="row">
            <div class="col-xs-12 center logocontainer">
                <img class="welcome_logo" src="images/logo/locator_schriftzug.png">
            </div>
        </div>

        <div class="row select_wrapper">
            <div class="col-sm-6 searchview" ng-include="'templates/welcome/searchView.html'"></div>
            <div class="col-sm-6 createview" ng-include="'templates/welcome/createView.html'"></div>
        </div>
    </div>
</div>


<div ng-hide="!showSteffen" class="container absolute steffencontainer">
    <img src="images/steffen01.jpg" class="img-responsive">

    <h3>oops, a server error occured, Steffen has been notified</h3>
</div>

<div class="container-fluid statistic_container cyan">

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <h2>Hintergrund</h2>

                <p>Studenten der Fachrichtung Kommunikationsdesign haben sich 2015 mit der Projektreihe »Designer für
                    Gerechtigkeit« am Konziljubiläum der Stadt Konstanz beteiligt. Die Entwicklung der App ist Teil
                    dieser Reihe – auch vor dem Hintergrund der historischen Situation: Zu Zeiten des Konstanzer Konzils
                    1414 bis 1418 lebten in Konstanz mehr Fremde als Einheimische.
                    <a href="http://project.locator-app.com" target="_blank" class="more-link">Mehr Infos zum Gesamtprojekt</a>.</p>
            </div>

            <div class="col-sm-4">
                <h2>Idee</h2>

                <p>Gerade Studenten kennen die Situation in einem neuen Ort anzukommen. Sie sind jung, mobil,
                    kontaktfreudig – und sie bewegen sich in sozialen Medien. Das alles zu verbinden und ein Tool zu
                    schaffen, das es erleichtert sich schnell in einer neuen Stadt zurechtzufinden und wohlzufühlen,
                    diese Idee steckt hinter »Locator«.</p>
            </div>

            <div class="col-sm-4">
                <h2>Motivaion</h2>

                <p>Moderne Technik soll einem Urbedürfnis des Menschen dienen: Kommunikation, Nähe, Freundschaft – und
                    das bestenfalls nicht auf irgendwelchen Online-Plattformen, sondern live. Wenn Technik diese
                    Funktion erfüllen kann, dann sind soziale Medien genau das: sozial. Sie erleichtern das Miteinander.
                    Sie verbinden. Sie schaffen menschliche Werte.</p>
            </div>


        </div>


    </div>
</div>
</div>
