<div ng-hide="showSteffen" class="welcome-wrapper container-fluid relative" ng-controller="WelcomeCtrl as wc">
    <div class="container welcome_container">
        <div class="row">
            <div class="col-xs-12 center logocontainer relative">
                <img class="welcome_logo" src="images/logo/locator_schriftzug.png">

                <div analytics-on="click" analytics-event="welcome/betabutton" active-popover
                     click-value="'stoerersmall'" compare-to="mc.openElement"
                     class="pointer hidden-xs hidden-sm beta-badge">

                </div>
            </div>
        </div>

        <div class="row select_wrapper">
            <div class="col-sm-6 searchview" ng-include="'templates/welcome/searchView.html'"></div>
            <div class="col-sm-6 createview" ng-include="'templates/welcome/createView.html'"></div>
        </div>
    </div>

    <div ng-class="{'showup': wc.searchHelp}" class="search help"
         ng-include="'templates/welcome/searchHelp.html'"></div>
    <div ng-class="{'showup': wc.createHelp}" class="create help"
         ng-include="'templates/welcome/createHelp.html'"></div>
    <div class="arrow-down pointer" scroll-to="feed-section" offset="45"><img src="images/svgs/arrow-down.svg"></div>
</div>


<div ng-hide="!showSteffen" class="container absolute steffencontainer">
    <img src="images/steffen01.jpg" class="img-responsive">

    <h3>oops, a server error occured, Steffen has been notified</h3>
</div>


<div class="container-fluid onepage-container grey" id="feed-section" ng-controller="WelcomeFeedCtrl as wfc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Neuste Locations</h3>
            </div>
        </div>
    </div>

    <div class="container welcome-feed-container">
        <div class="row">
            <div class="latest-locations">

                <div
                    ng-repeat="location in wfc.latestLocations track by $index"
                    class="col-xs-12 col-sm-6 col-md-4">


                    <div ng-include="'templates/welcome/latestLocation.html'" include-replace="true"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid onepage-container video-fluid white" id="video-section">
    <div class="container video-container">
        <iframe src="https://player.vimeo.com/video/132811955" width="800" height="450" frameborder="0"
                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
</div>

<div class="container-fluid description-container onepage-container grey">
    <div class="container">
        <h2>Verreisen - und bei Freunden ankommen.</h2>

        <p>Du machst dich auf einen Städte-Kurztrip, hast aber keine Lust auf die üblichen Sehenswürdigkeiten?
            Du willst eine Reise nach deinen Vorstellungen und Plätze kennenlernen, die nicht im Reiseführer stehen?
            Oder hast du Lust, anderen die coolsten Orte deiner Stadt zu zeigen? Beides ist mit Locator möglich.
            Locator bringt Einheimische und Fremde zusammen – in welcher Form, entscheidet ihr. Ob ihr nur
            Tipps übers Smartphone austauscht oder euch persönlich trefft, bleibt euch überlassen. Die App funktioniert
            wie ein Netzwerk für Kurztrips: Zeige anderen, was du an deiner Stadt liebst und erlebe Städte
            so, wie du es alleine nicht könntest. Werde ein Teil von Locator – damit Fremde zu Freunden werden.</p>
    </div>
</div>


<div class="container-fluid onepage-container description-container white">

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <h2>Hintergrund</h2>

                <p>Studenten der Fachrichtung Kommunikationsdesign haben sich 2015 mit der Projektreihe »Designer für
                    Gerechtigkeit« am Konziljubiläum der Stadt Konstanz beteiligt.<br>Die Entwicklung der App ist Teil
                    dieser Reihe – auch vor dem Hintergrund der historischen Situation: Zu Zeiten des Konstanzer Konzils
                    1414 bis 1418 lebten in Konstanz mehr Fremde als Einheimische.
                    <a href="http://gerechtigkeit.ag.htwg-konstanz.de/" target="_blank" class="more-link">Mehr Infos zum
                        Gesamtprojekt</a>.</p>
            </div>

            <div class="col-sm-4">
                <h2>Idee</h2>

                <p>Gerade Studenten kennen die Situation in einem neuen Ort anzukommen. Sie sind jung, mobil,
                    kontaktfreudig – und sie bewegen sich in sozialen Medien. Das alles zu verbinden und ein Tool zu
                    schaffen, das es erleichtert sich schnell in einer neuen Stadt zurechtzufinden und wohlzufühlen,
                    diese Idee steckt hinter »Locator«.</p>
            </div>

            <div class="col-sm-4">
                <h2>Motivation</h2>

                <p>Moderne Technik soll einem Urbedürfnis des Menschen dienen: Kommunikation, Nähe, Freundschaft – und
                    das bestenfalls nicht auf irgendwelchen Online-Plattformen, sondern live. Wenn Technik diese
                    Funktion erfüllen kann, dann sind soziale Medien genau das: sozial. Sie erleichtern das Miteinander.
                    Sie verbinden. Sie schaffen menschliche Werte.</p>
            </div>


        </div>


    </div>
</div>


<div class="container-fluid onepage-container description-container grey" ng-controller="FeedbackCtrl as fc">

    <div class="container feedback">


        <form name="form" id="forms" ng-hide="fc.feedbacksent || fc.feedbackerror">

            <h2>Deine Meinung interessiert uns</h2>
            <h4>Wir freuen uns über deinen Kommentar zu Locator.</h4>
            <br><br>

            <div class="row">
                <div class="col-sm-4">
                    <input required ng-minlength="2" ng-model="fc.feedback.name" type="text" placeholder="Name"
                           id="name"
                           name="name"
                           ng-class="{'error': form.$submitted && form.name.$invalid}">
                </div>
                <div class="col-sm-4">
                    <input required ng-pattern="fc.mailPattern" ng-model="fc.feedback.mail" type="text"
                           placeholder="Email" id="email" name="email"
                           ng-class="{'error': form.$submitted && form.email.$invalid}">
                </div>
                <div class="col-sm-4">
                    <input required ng-minlength="1" ng-model="fc.feedback.subject" type="text" placeholder="Betreff"
                           id="subject" name="subject"
                           ng-class="{'error': form.$submitted && form.subject.$invalid}">
                </div>
                <div class="col-xs-12">
                    <textarea required ng-minlength="1" ng-model="fc.feedback.message" name="message" id="message"
                              cols="30" rows="10"
                              ng-class="{'error': form.$submitted && form.message.$invalid}">

                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <input class="feedback-submit" type="submit" ng-click="fc.submitFeedback(form.$invalid)"
                           value="absenden">
                </div>
            </div>
        </form>
        <div ng-show="fc.feedbacksent">
            <div class="col-xs-12 col-sm-6 success-feedback">
                <h2 class="thanks">Vielen Dank für dein Feedback!</h2>
            </div>
            <div class="col-xs-12 col-sm-6 error-feedback">
                <img ng-src="images/profile.svg" alt="sorry"/>
            </div>
        </div>
        <div ng-show="fc.feedbackerror">
            <div class="col-xs-12 col-sm-6 error-feedback">
                <h2 class="generic">Oops, da ist was schief gelaufen</h2>
            </div>
            <div class="col-xs-12 col-sm-6 error-feedback">
                <img ng-src="images/sadLorenz.png" alt="sorry"/>
            </div>
        </div>
    </div>
</div>
