<div ng-include="'templates/slider.html'"></div>


<div class="container-fluid">
    <div class="container welcome_container">
        <div class="row">
            <div class="col-xs-12 center">
                <img class="welcome_logo" src="images/logo/locator_schriftzug.png">
            </div>
        </div>

        <div class="row select_wrapper">
            <div class="col-sm-6" ng-include="'templates/welcome/searchView.html'"></div>
            <div class="col-sm-6" ng-include="'templates/welcome/createView.html'"></div>
        </div>
    </div>
</div>

<div class="container-fluid statistic_container cyan">

    <div class="container">

        <div class="row">
            <div class="col-sm-6 newesttrips statistic-item">
                <h2>Newest Trips</h2>

                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 topuser statistic-item">
                <h2>Top Locals</h2>

                <div class="user-entry">
                    <div class="thumb">
                        <img class="profile_thumbnail"
                             ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c40.0.160.160/p160x160/1911899_10203306650967496_1865112293_n.jpg?oh=a731f141658bd6b88dcd822384d39163&oe=55C22262&__gda__=1438767719_051e99799224107f148edf615f19a337"
                             class="md-avatar"
                             alt="avatar"/>
                    </div>


                    <div class="description col-xs-10">
                        <h3>Steffen</h3>

                        <p>Steht auf laue Sommernächte und mags, wenn der Kamin knistert. Ausserdem heißt er Steffen,
                            würde
                            aber lieber Steffan heißen</p>
                        <span class="city">Konstanz</span>
                        <span>|</span>
                        <span class="trips">5 Trips</span>
                    </div>
                </div>


                <div class="user-entry">
                    <div class="thumb">
                        <img class="profile_thumbnail"
                             ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c40.0.160.160/p160x160/1911899_10203306650967496_1865112293_n.jpg?oh=a731f141658bd6b88dcd822384d39163&oe=55C22262&__gda__=1438767719_051e99799224107f148edf615f19a337"
                             class="md-avatar"
                             alt="avatar"/>
                    </div>


                    <div class="description col-xs-10">
                        <h3>Steffen</h3>

                        <p>Steht auf laue Sommernächte und mags, wenn der Kamin knistert. Ausserdem heißt er Steffen,
                            würde
                            aber lieber Steffan heißen</p>
                        <span class="city">Konstanz</span>
                        <span>|</span>
                        <span class="trips">5 Trips</span>
                    </div>
                </div>


                <div class="user-entry">
                    <div class="thumb">
                        <img class="profile_thumbnail"
                             ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c40.0.160.160/p160x160/1911899_10203306650967496_1865112293_n.jpg?oh=a731f141658bd6b88dcd822384d39163&oe=55C22262&__gda__=1438767719_051e99799224107f148edf615f19a337"
                             class="md-avatar"
                             alt="avatar"/>
                    </div>


                    <div class="description col-xs-10">
                        <h3>Steffen</h3>

                        <p>Steht auf laue Sommernächte und mags, wenn der Kamin knistert. Ausserdem heißt er Steffen,
                            würde
                            aber lieber Steffan heißen</p>
                        <span class="city">Konstanz</span>
                        <span>|</span>
                        <span class="trips">5 Trips</span>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
