<div class="col-xs-12">

    <form name="pc.accountForm" novalidate class="user-form account">
       <label class="profile-label">Neues Passwort</label> <input ng-disabled="!pc.edit" ng-model="pc.password" class="input" type="password" name="Password"
               placeholder="">
        <label class="profile-label">Wiederholen</label><input ng-disabled="!pc.edit" ng-model="pc.passwordRepeat" class="input" type="password" name="Password wiederholen"
               placeholder="">


        <div style="height: 0; overflow: hidden;">{{pc.me}}</div>
    </form>

</div>

