<div class="col-xs-12">

    <form ng-class="{editable: pc.edit}" novalidate class="user-form">
        <input ng-disabled="!pc.edit" ng-model="pc.user.name" class="input col-sm-6" type="text" name="name"
               placeholder="Vorname">
        <input ng-disabled="!pc.edit" ng-model="pc.user.surname" class="input col-sm-6" type="text" name="surname"
               placeholder="Nachname">
        <input ng-disabled="!pc.edit" ng-model="pc.user.birthdate" class="input col-xs-12" type="date" name="birthdate"
               placeholder="Dein Alter">
        <input ng-disabled="!pc.edit" ng-model="pc.user.residence" ng-map-autocomplete class="input col-xs-12" type="text" name="name"
               placeholder="Dein Wohnort">
        <label>Beschreibung:</label>
        <textarea ng-disabled="!pc.edit" class="input col-xs-12" type="text" ng-model="pc.user.description"
                          placeholder=""></textarea>

        <a ng-if="pc.edit" class="save pointer" ng-click="pc.updateProfile()" class="button">Save</a>
        <a ng-show="pc.me && !pc.edit" class="save pointer" ng-click="pc.editTrigger()" class="button">Edit</a>

        <div style="height: 0; overflow: hidden;">{{pc.me}}</div>
    </form>

</div>
