<div class="mylocations-container">
    <div class="row">
        <div ng-repeat="location in pc.locations" class="col-xs-12 col-sm-12 location relative">
            <img class="img-responsive" ng-src="{{location.images.picture || location.images.googlemap + '&size=1000x1000&scale=2'}}">

            <div class="content">
                <h2>{{location.title}}</h2>

                <h3>{{location.city.title}}</h3>

                <p>{{location.description}}</p>
            </div>

        </div>
    </div>
</div>
