<div class="mytrips-container col-xs-12 mylocations-container">
    <div class="row">
        <div ng-if="pc.trips.length > 0" class="searchbar col-xs-12">
            <input ng-model-options="{debounce:300}" ng-model="pc.tripSearch" placeholder="Suche" type="text"
                   name="search">
        </div>
    </div>

    <div class="row fx-fade-up fx-speed-3000">

        <div ng-if="pc.me" class="col-xs-12">
            <div ui-sref="insertTrip" class="small-border-radius pointer col-xs-12 empty-locations">
                <img ng-src="images/icons/header/trip_erstellen_weiss.png"> <span>Trip anlegen</span>
            </div>
        </div>

        <div ng-if="!pc.me && pc.trips.length === 0" class="center col-xs-12">
            <span>{{pc.user.name}} hat noch keine Trips erstellt</span>
        </div>


        <div class="fx-fade-up fx-speed-150 col-xs-12 col-sm-12 tripsmall"
             ng-repeat="trip in pc.trips | filter:pc.tripSearch">

            <div class="wrapper">
                <img-triplist locations="trip.locations" mapwidth="600" mapheight="150" scale="1"></img-triplist>
                <div class="col-xs-12 pointer" ui-sref="trip({tripId: trip._id})"><h3>{{trip.title}} ({{trip.city.title}})</h3>


                    <p ng-if="(trip.start_date && trip.end_date) && (trip.start_date !== trip.end_date)">
                        <resultdate date="trip.start_date"></resultdate>
                        bis
                        <resultdate date="trip.end_date"></resultdate>
                    </p>

                    <p ng-if="(trip.start_date && trip.end_date) && (trip.start_date === trip.end_date)">
                        <resultdate date="trip.start_date"></resultdate>
                    </p>


                </div>


                <div class="content">


                    <div class="col-xs-12">
                        <p clas="description">{{trip.description}}</p>
                        <div class="day-amount black">
                            <!-- ngIf: trip.days --><span ng-if="trip.days" class="ng-scope"><strong>{{trip.days}}</strong>
                            <ng-pluralize count="trip.days" when="{'1': 'Tag', 'other': 'Tage'}">Tag</ng-pluralize>
                        </span><!-- end ngIf: trip.days -->
                        <span>
                            <!-- ngIf: trip.days --><span ng-if="trip.days" class="ng-scope"> | </span><!-- end ngIf: trip.days -->
                            <strong>{{trip.locations | itemsInHash}}</strong>
                            <ng-pluralize count="trip.locations | itemsInHash" when="{'1': 'Location', 'other': 'Locations'}">
                                Locations
                            </ng-pluralize>
                        </span>
                            <!-- ngIf: trip.persons -->
                        </div>
                    </div>

                </div>

                <div ng-if="pc.me" class="col-xs-12 location-settings locationborder relative">
                    <span class="toggle-label">Trip sichtbar</span>

                    <div class="switch">
                        <input ng-if="trip.public" id="{{trip._id}}" checked class="cmn-toggle cmn-toggle-round"
                               ng-click="pc.togglePublicTrip(trip._id)" type="checkbox">
                        <input ng-if="!trip.public" id="{{trip._id}}" class="cmn-toggle cmn-toggle-round"
                               ng-click="pc.togglePublicTrip(trip._id)" type="checkbox">

                        <label for="{{trip._id}}"></label>
                    </div>

                    <div class="action-buttons">
                        <div ng-hide="!trip.showdelete" class="fx-fade-up fx-speed-300 delete-message">
                            <a ng-click="pc.deleteTrip(trip)" class="red button locator-btn">Löschen</a>
                            <a ng-click="trip.showdelete = !trip.showdelete" class="cyan button locator-btn">nicht
                                löschen</a>
                        </div>

                    <span aria-label="Trip bearbeiten" ui-sref="editTrip({tripId: trip._id})"
                          class="tt tt-small action-button pointer edit"><img
                        src="images/icons/icons_stuff/pencil.png"></span>
                    <span aria-label="Trip löschen" ng-click="pc.showDelete(trip)"
                          class="tt tt-small action-button pointer delete"><img
                        src="images/icons/icons_stuff/cross.png"></span>

                    </div>

                </div>


            </div>
        </div>

    </div>

</div>


