<div class="container profile" ng-controller="UserCtrl as pc">

    <div class="image-upload-modal" ng-class="{'is-uploading' : pc.isUploading}" ng-show="pc.showImageUploadModal">
        <div class="big-progress" ng-style="{'height': pc.progressPercentage * 100 + '%'}"><span ng-bind="Math.round(pc.progressPercentage * 100) + '%'"></span></div>
        <img src="{{pc.imagePath.result}}" id="cropping-preview" alt="" class="image-modal"/>

        <div class="controls" ng-show="!pc.isUploading">
            <div class="btns">
                <div class="locator-btn save-btn" ng-click="pc.uploadImage()">hochladen</div>
                <div class="locator-btn cancel-btn" ng-click="pc.clearFileSelection()">abbrechen</div>
            </div>
        </div>
    </div>

    <input id="image-upload-profile" type="file" accept="image/*" onchange="angular.element(this).scope().pc.selectImage(this)"
           style="display: none">
    <div  class="image-too-large" ng-if="pc.showImageTooLargeModal" ng-include="'templates/modal/imageTooLarge.html'"></div>

    <div class="row">
        <div class="col-xs-12 userheader">

            <img ng-click="pc.showImageChooser()" ng-class="{'pointer': pc.isItMe}" class="center profile-image img-responsive border-radius"
                 ng-src="{{pc.profileImagePath}}" class="img-responsive">

            <h2 class="center">{{pc.user.name}} <span class="age" ng-if="pc.birthAvailable">({{pc.birthdate}})</span>

                <span ng-if="pc.tab === 'info' || pc.tab ==='account'" class="editbutton">
                    <a ng-if="pc.edit && pc.tab === 'account'" aria-label="speichern" type="submit" class="tt tt-small save pointer submit" ng-click="pc.setNewPassword()" class="button"><img src="images/icons/icons_stuff/haken.png" class="icon img-responsive"></a>
                    <a ng-if="pc.edit && pc.tab === 'info'" aria-label="speichern" type="submit" class="tt tt-small save pointer submit" ng-click="pc.updateProfile()" class="button"><img src="images/icons/icons_stuff/haken.png" class="icon img-responsive"></a>


                    <a ng-if="pc.edit && (pc.tab === 'info' || pc.tab === 'account')" aria-label="abbrechen" type="abbrechen" class="tt tt-small save reset pointer submit" ng-click="pc.reset()" class="button"><img src="images/icons/icons_stuff/cross.png" class="icon img-responsive"></a>
                <a ng-show="pc.me && !pc.edit" aria-label="bearbeiten" class="tt tt-small save pointer" ng-click="pc.editTrigger()" class="button"><img src="images/icons/icons_stuff/pencil.png" class="icon img-responsive"></a>
            </span>

            </h2>


        </div>

        <div class="col-xs-12 usermenu">
            <a ng-class="{active: pc.tab == 'info'}" ng-click="pc.switchTab('info')"
               class="col-xs-3 pointer button profile-button">Infos</a>
            <a ng-if="pc.me" ng-class="{active: pc.tab == 'account'}" ng-click="pc.switchTab('account')"
               class="col-xs-3 pointer button profile-button">Account</a>

            <a ng-class="{active: pc.tab == 'locations'}" ng-click="pc.switchTab('locations')"
               class="col-xs-3 pointer button profile-button">Locations</a>

            <a ng-class="{active: pc.tab == 'trips'}" ng-click="pc.switchTab('trips')"
               class="col-xs-3 pointer button profile-button">Trips</a>

            <a ng-if="!pc.me" ng-class="{active: pc.tab == 'conversation'}" ng-click="pc.switchTab('conversation')"
               class="col-xs-3 pointer button profile-button">anschreiben</a>

            <div ng-if="pc.errormsg != ''" class="error-msg">{{pc.errormsg}}</div>
            <div ng-if="pc.successmsg != ''" class="error-msg success-msg">{{pc.successmsg}}</div>

        </div>

        <div ng-show="pc.tab === 'info'" ng-include="'templates/userProfile/info.html'"></div>
        <div ng-show="pc.tab === 'account'" ng-include="'templates/userProfile/account.html'"></div>

        <div ng-show="pc.tab === 'locations'" ng-include="'templates/userProfile/locations.html'"></div>
        <div ng-show="pc.tab === 'trips'" ng-include="'templates/userProfile/trips.html'"></div>

        <div ng-show="pc.tab === 'conversation'" ng-include="'templates/userProfile/conversation.html'"></div>


    </div>
</div>
