<div ng-class="{'opened': mc.openElement === 'stoerersmall'}" class="container-fluid beta-wrapper">
    <div class="container stoerer-container">
        <div class="row relative">
            <img ng-click="mc.openElement = ''" class="right pointer close-button" src="images/icons/white_cross.png">

            <div class="col-sm-6 col-xs-12">
                <h3>Warum Beta?</h3>
                <p>Locator befindet sich derzeit noch in einer BETA-Phase. Deshalb kannst vorerst nur Trips im Raum
                    Konstanz erstellen. Du kannst aber deine Lieblings-Locations überall auf der Welt spotten und
                    fleißig sammeln. In Kürze werden wir auch in deiner Stadt sein und du kannst Kurztrips mit deinen
                    Locations erstellen.
                    Wir arbeiten ständig an Verbesserungen und sind nur ein Dutzend Studenten, die alles verwalten. Nach
                    und nach werden wir andere Städte hinzuschalten. Also verbreite Locator bei deinen Freunden und
                    deine Stadt wird garantiert die
                    nächste sein, die die besten Locations und die heißesten Trips zu bieten hat.</p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>Was sind Trips und Locations?</h3>
                <p>
                    Mit Locator kannst du unterschiedliche Locations (Orte), an denen du dich
                    befindest, fotografieren, mit GPS markieren, beschreiben und mit Stichworten (Tags) versehen. Wenn
                    du einige davon gesammelt hast und anderen deine
                    Locations zeigen möchtest, kannst du über das Menü einen Trip erstellen.
                    Du kannst zu dem Trip eigene Locations und andere Locations, die in deiner Stadt markiert wurden,
                    hinzufügen und so einen neuen Kurztrip für deine
                    Stadt erstellen. Wenn du etwas nicht verstehst, schreib uns einfach ein Feedback und wir versuchen,
                    Locator für dich noch besser zu machen.</p>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row" ng-controller="HeaderBarCtrl as hc">

        <div ng-class="{'logged-in': authenticated, 'logged-out': !authenticated}" class="header-bar">

            <img alt="logo" class="logo-small pointer" ui-sref="welcome" src="images/logo/locator_small.png">

            <h2 class="breadcrumbs">{{breadcrumb}}</h2>


            <span class="users" ng-bind="hc.usersOnline" ng-if="authenticated && hc.usersOnline"></span>

            <div class="header-right">
                <span active-popover click-value="'stoerersmall'" compare-to="mc.openElement"
                      class="pointer stoerer-small"><img class="img-responsive" src="images/beta_icon-01.png"></span>

                <div ng-if="!authenticated" class="btn-group">

                    <a class="padding login" ng-click="mc.openLoginDialog()">Anmelden</a>

                    <a class="padding register tt tt-small"
                       aria-label="Registriere dich jetzt und werde ein Teil einer aussergewöhnlichen Community"
                       ng-click="mc.openRegisterDialog()">Registrieren</a>

                </div>
                <div ng-if="authenticated" class="btn-group">

                    <div active-popover click-value="hc.openUser" compare-to="mc.openElement" class="user"
                         ui-sref-active="active">
                        <a class="edit-user">{{hc.user.name}}</a>
                        <a><img class="profile_thumbnail" ng-src="{{hc.user.picture || 'images/profile.svg' }}"></a>

                        <ul class="user-dropdown fx-fade-up" ng-show="mc.openElement === hc.openUser">
                            <div class="arrow"></div>
                            <li ui-sref="user({profileId: userID, tab: 'info'})" ui-sref-active="active">Profil</li>
                            <li ui-sref="user({profileId: userID, tab: 'locations'})" ui-sref-active="active">Meine
                                Locations
                            </li>
                            <li ui-sref="user({profileId: userID, tab: 'trips'})" ui-sref-active="active">Meine Trips
                            </li>
                            <li ng-click="mc.logout()">Logout</li>
                        </ul>
                    </div>
                </div>

                <div class="menu btn-group">
                    <ul>
                        <li ng-class="{'not-available not-authenticated': !authenticated || !hc.conversations.length}"
                            ng-click="hc.redirectToMessenger()" class="pointer messenger tt tt-small"
                            aria-label="Messenger" aria-not-authenticated="Finde Trips und trete mit Leuten in Kontakt"> <!--active-popover
                            click-value="hc.openMessages" compare-to="mc.openElement" ng-click="hc.openPopover()"-->
                            <div class="message-badge" ng-show="hc.showBadge"></div>
                            <img ng-src="images/icons/header/messenger_weiss.png">
                            <ul ng-if="mc.openElement === hc.openMessages && authenticated"
                                class="messenger-popover fx-fade-up">
                                <div class="arrow"></div>
                                <li class="message pointer" ng-repeat="con in hc.conversations"
                                    ui-sref="messenger.opponent({opponentId: con._id})"
                                    ng-class="{unread: !con[userID + '_read']}">
                                    <img ng-src="{{con.opponent.picture}}" alt="" class="profile"/>

                                    read: {{con[userID + '_read']}}
                                    <p class="from">{{con.opponent.name}}</p>
                                </li>
                            </ul>
                        </li>
                        <li class="pointer tt tt-small" aria-label="Suche nach Trips" ng-click="hc.searchWithContext()">
                            <img ng-src="images/icons/header/suche_weiss.png">
                        </li>


                        <li ng-class="{'not-available not-authenticated': !authenticated}" ui-sref="insertLocation"
                            class="pointer tt tt-small"
                            aria-label="Erstelle eine neue Location"><img
                            ng-src="images/icons/header/neue_location_weiss.png">
                        </li>
                        <li ng-class="{'not-available not-authenticated': !authenticated}" ui-sref="insertTrip"
                            class="pointer tt tt-small" aria-label="Füge einen neuen Trip hinzu">
                            <img ng-src="images/icons/header/trip_erstellen_weiss.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


