.edittrip-container .welcome_select {
    right: auto;
    width: auto;
}

.edittrip-container .welcome_select ul {
    top: 52px;
    left: 0;
    background-color: #FF4637;
    text-align: left;
    transform: translateY(0%) scale(1) !important;

}

.edittrip-container .welcome_select .red {
    margin-right: 8px;
    border-radius: 3px;
}

.edittrip-container .welcome_select {
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.edittrip-container .welcome_select.data-available {
    opacity: 1;
    visibility: visible;
}

.edittrip-container .location {
    float: left;
    width: 100%;
    background: white;
    padding: 4px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 3px;
}

.edittrip-container .location .img-wrapper {
    padding-right: 0;
    border-radius: 3px;
}

.edittrip-container .location:last-child {
    margin-bottom: 0;
}

.edittrip-container .location .select-overlay {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: calc(100% - 18px);
    background: rgba(34, 34, 34, 0.9);
    transition-duration: 0.2s;
    position: absolute;
    top: 0;
    border-radius: 3px;
    right: 15px;
    text-align: center;
    z-index: 1;
}

.edittrip-container .location:hover .select-overlay {
    opacity: 1;
    visibility: visible;
}

.edittrip-container h2 {
    width: 100%;
    float: left;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 17px;
    margin-top: 28px;
}

.edittrip-container .location h3 {
    float: left;
    padding-top: 3px;
    font-size: 15px;
    margin-bottom: 5px;
}

.edittrip-container .tags {
    float: left;
    width: 100%;
}

.edittrip-container p {
    float: left;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    margin: 0;
    margin-bottom: 3px;
}

.edittrip-container .location-tags {
    padding: 0;
}

.edittrip-container .location-tags .tag {
    font-size: 10px;
    padding: 2px 4px;
    margin-right: 3px;
}

.edittrip-container .location-tags .tag:last-child {
    margin-right: 0;
}

.edittrip-container .border-wrapper {
    border: 1px solid rgb(34, 34, 34);
    float: left;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    border-radius: 3px;
    padding-left: 5px;
}

.edittrip-container .selectedlocations .border-wrapper {
    padding-top: 5px;
}


.edittrip-container .metadata .border-wrapper {
    height: 400px;
    transition-duration: 0.3s;
}

.edittrip-container .metadata.accomodation .border-wrapper {
    height: 560px;
}

.edittrip-container .border-wrapper.err {
    background-color: rgba(255, 246, 245, 1);
    border: 1px solid rgb(255, 70, 55);
}

.publiclocations-wrapper, .mylocations-wrapper {
    float: left;
    width: 100%;
}

.border-radius-decent {
    border-radius: 4px;
    overflow: hidden;
}

.edittrip-container img.trip-selection {
    height: 100%;
    display: inline-block;
    padding: 25px;
}

.edittrip-container .meta-section {
    float: left;
    width: 100%;
}

.edittrip-container .separator {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid rgb(34, 34, 34);
    width: 120%;
    float: left;

    margin-top: 15px;
    margin-bottom: 15px;
}

.edittrip-container .trip-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.edittrip-container .trip-title input {
    background: rgba(34, 34, 34, 0.1);
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.edittrip-container datepicker, .edittrip-container .datepicker, .edittrip-container .ui-datepicker {
    float: left;
    width: 100%;
}

.edittrip-container .wrap {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.edittrip-container .wrap input {
    width: 100%;
    border: none;
    background: white;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 19px;
}

.edittrip-container .trigger a {
    color: rgb(255, 70, 55);
    font-size: 15px;
    text-decoration: underline;
}

.edittrip-container .trigger a.active {
    text-decoration: none;
    color: rgb(34, 34, 34);
    cursor: auto;
}

.edittrip-container img.location-picture {
    height: 80px;
    background-size: cover;
    width: auto;
    max-width: none !important;
}

.edittrip-container .img-wrapper {
    overflow: hidden;
    min-height: 75px;
}


.edittrip-container .trip-wrapper {
    padding-left: 15px;
}

.edittrip-container .edit-section {
    min-height: 80vh;
}

.edittrip-container .infobox {
    background: rgb(34, 34, 34);
    color: white;
    height: 400px;
}

.edittrip-container .slider {
    padding-right: 0;
}

.edittrip-container a.button {
    padding: 11px 20px;
    background-color: rgb(255, 70, 55);
    text-align: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    float: left;
    border-radius: 3px;
    margin-top: 5px;
    transition-duration: 0.3s;
}

.edittrip-container a.button:hover {
    background: rgb(34, 34, 34);
    text-decoration: none;
}

.edittrip-container a.insert-location {
    background: rgb(34, 34, 34);
}

.edittrip-container a.insert-location:hover {
    background-color: rgb(255, 70, 55);
}

.edittrip-container .flexslider {
    height: auto;
}

.edittrip-container .description {
    width: 100%;
    border: none;
    background: white;
    border-radius: 3px;
    padding: 10px;
    min-height: 110px;

    background: rgba(34, 34, 34, 0.1);
    border: 1px solid rgba(204, 204, 204, 1);
}

.edittrip-container .flexslider {
    margin-bottom: 15px;
}

.edittrip-container .height-wrapper {
    min-height: 80vh;
}

.edittrip-container .metadata .border-wrapper {
    padding: 15px;
    max-height: inherit;
    overflow: hidden;
}


.edittrip-container .missing {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 40px;
}

.edittrip-container .dp-highlight .ui-state-default {
    background: rgb(34, 34, 34);
    color: white;
}

.edittrip-container .datepicker .round-right a {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.edittrip-container .accommodation span {
    color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}

.edittrip-container .insert-trip-circle-selected {
    background: rgb(34, 34, 34);
    color: white;
}

.edittrip-container .equi-ico.pointer {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    max-width: 50px;
    float: left;
}

.edittrip-container .accommodation-equipment {
    float: left;
    width: 100%;
}

.edittrip-container {
    padding-bottom: 30px;
}

.edittrip-container input.cmn-toggle-round:checked + label:before {
    background-color: rgb(34, 34, 34);
}

.edittrip-container .switch {
    margin-bottom: 10px;
    margin-top: 10px;
}

.edittrip-container .meta-section span.info {
    font-size: 15px;
    float: left;
    width: 100%;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

span.info.err {
    color: rgb(255, 70, 55);
}

.edittrip-container .bottom-wrapper.relative {
    float: left;
    width: 100%;
}

.edittrip-container .bottom-wrapper .absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
}

.edittrip-container .trip-title input.err {
    background-color: rgba(255, 246, 245, 1);
    border: 1px solid rgb(255, 70, 55);
}

.edittrip-container .err .ui-datepicker {
    background-color: rgba(255, 246, 245, 1);
    border-color: rgb(255, 70, 55);
}

.edittrip-container div#tripviewpreview {
    padding-top: 65px;
}

.edittrip-container .top-wrapper {
    float: left;
    width: 100%;
}

.edittrip-container .slide-image {
    height: 400px;
}

.edittrip-container .equ-headline {
    float: left;
    width: 100%;
    padding-top: 15px;
}

.edittrip-container .equ-chooser {
    float: left;
    width: 100%;
}

.success-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.6);
    padding-top: 165px;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tripsuccess-image {
    height: 401px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.trip-success-container {
    min-height: 90vh;
}

.trip-success-container .wrapper {
    height: 401px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    width: 100%;
}

.trip-success-container .infobox {
    height: 401px;
    background: rgb(34, 34, 34);
    border-left: 1px solid white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.trip-success-container .infobox ul {
    list-style: none;
    padding: 0;
}

.trip-success-container .infobox ul li a {
    color: white;
    margin-left: 10px;
}

.trip-success-container ul.success-menu li {
    border-bottom: 1px solid white;
    margin-left: -15px;
    margin-right: -15px;
    line-height: 50px;
    padding: 15px;
}

.trip-success-container ul.success-menu li:last-child {
    border-bottom: none;
}

.trip-success-container .success-menu .image {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float:left;
}

.bottom-wrapper {
    padding-top: 30px;
}

.edittrip-container .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    padding-top: 30px;
    background: black;

    width: 100%;
    height: 100%;
    z-index: 10;
}

.edittrip-container .opened .img-wrapper {
    width: 100%;
    padding-right: 15px;
    min-height: 200px;
    margin-bottom: 10px;
}

.edittrip-container .opened .trip-wrapper {
    padding-right: 15px;
}

.edittrip-container .opened .content-wrapper {
    width: 100%;
}

.edittrip-container .opened .img-wrapper img.image {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.edittrip-container .location.opened .select-overlay {
    display: none !important;
}

.edittrip-container .controls .control-button {
    width: 30px;
    height: 30px;
}

.edittrip-container .controls {
    display: none;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 10;
    border-radius: 5px;
}

.edittrip-container .opened .controls {
    display: block;
}

.edittrip-container .missing h4 {
    font-size: 16px;
    line-height: 20px;
}

.edittrip-container {
    padding-top: 15px;
}

.edittrip-container .content-wrapper {
    min-height: 80px;
    padding-left: 7px;
}

.edittrip-container datepicker, .edittrip-container .datepicker, .edittrip-container .ui-datepicker {
    background-color: white;
}

.without-overlay .select-overlay {
    display: none;
}
