/*HEADER*/
.trip-image img {
    height: 450px;
    width: 100vw;
}

.input-content {
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

.content-header .profile-image {
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 75px;
}

.content-header .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    /*background: url(http://link-to-your/image.jpg) no-repeat;*/
}

.content-header .feeling-text {
    font-size: 16px;
    float: right;
    position: relative;
    top: 10px;
}

.content-header .add-mood {
    position: relative;
    top: 10px;
    cursor:pointer;
}

.content-header .add-mood img {
    float: right;
    clear: right;
}

/*BOTTOM*/
.content-bottom {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 30px;
}

.content-bottom .left-section {
    float:left;
    width: 240px;
}

.content-bottom .left-section input {
    width: 160px;
}

.content-bottom .left-section p {
    margin-top: 20px;
}

.content-bottom .right-section {
    overflow: hidden;
}

.content-bottom .right-section input {
    height: 40px;
    margin-bottom: 80px;
}

.content-bottom .right-section .trip-description {
    height: 300px;
    margin-bottom: 80px;
}

.content-bottom .right-section .trip-money{
    height: 150px;
    margin-bottom: 80px;
}

.content-bottom .right-section input, textarea {
    width: 500px;
}

.accomodation span {
    color: #ff632d;
    margin-right: 10px;
    font-size: 16px;
}

.accomodation div {
    cursor:pointer;
}


/*Accomodation services*/
.accomodation-equipment div{
    width:50px;
    height:50px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 20px;
    cursor:pointer;
}

.wifi {
    background-image: url("/images/icons/icons_stimmung-13.png");
}

.wifi-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-13.png");
}

.tv {
    background-image: url("/images/icons/icons_stimmung-14.png");
}

.tv-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-14.png");
}

.shower {
    background-image: url("/images/icons/icons_stimmung-15.png");
}

.shower-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-15.png");
}

.meal {
    background-image: url("/images/icons/icons_stimmung-20.png");
}

.meal-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-20.png");
}

.breakfast {
    background-image: url("/images/icons/icons_stimmung-18.png");
}

.breakfast-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-18.png");
}

.smoker {
    background-image: url("/images/icons/icons_stimmung-16.png");
}

.smoker-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-16.png");
}

.parking {
    background-image: url("/images/icons/icons_stimmung-19.png");
}

.parking-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-19.png");
}

.handicapped {
    background-image: url("/images/icons/icons_stimmung-17.png");
}

.handicapped-grey {
    background-image: url("/images/icons/icons_stimmung_ausgegraut-17.png");
}

.save-trip button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ff0303;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ff0303;
    box-shadow:inset 0px 1px 0px 0px #ff0303;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff3d3d), color-stop(1, #ff1f48));
    background:-moz-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-webkit-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-o-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-ms-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:linear-gradient(to bottom, #ff3d3d 5%, #ff1f48 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d', endColorstr='#ff1f48',GradientType=0);
    background-color:#ff3d3d;
    border:1px solid #ff1717;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
    padding:10px 32px;
    text-decoration:none;
}

.save-trip button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff1f48), color-stop(1, #ff3d3d));
    background:-moz-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-webkit-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-o-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-ms-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:linear-gradient(to bottom, #ff1f48 5%, #ff3d3d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f48', endColorstr='#ff3d3d',GradientType=0);
    background-color:#ff1f48;
}
.save-trip button:active {
    position:relative;
    top:1px;
}


#preview{
    cursor:pointer;
}

#preview:hover{
    -moz-transform:rotate(-2deg);
}

.dp-highlight .ui-state-default {
    background: #484;
    color: #FFF;
}
.ui-datepicker.ui-datepicker-multi  {
    width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
    float:none;
}

.datepicker {
    height: 300x;
    overflow-x: scroll;
}
.ui-widget { font-size: 100% }













/*.insert-container-sidebar {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 1000px;
}

.insert-search-menu {
    height: 100vh;
    width: 300px;
    position: absolute;
    right: 0px;
}

.insert-search-menu div {
    padding-bottom: 40px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
}

.insert-item-active {
    background-color: #ff814e;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    position: relative;
    z-index: 200;
}

.insert-item-description {
    display: inline;
    text-align: center;
    float: left;
    width: 220px;
}

.insert-item-image {
    float: right;
}

.insert-settings {
    width: 220px;
    height: 100vh;
    position: absolute;
    right: 0px;
    margin-right: 80px;
    background: #ff632d;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}

.insert-offset {
    padding-top: 50px;
}

.edit-offset {
    position: relative;
    padding-top: 142px;
    z-index: 100;
}

.insert-inputs {
    width: 700px;
    height: 100vh;
    position: absolute;
    background-color: #ff814e;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}*/
