/*HEADER*/
.trip-image img {
    width: 100%;
}

.feeling-text p {
    text-align: right;
}

/*BOTTOM*/
.content-bottom {
    width: 100%;
    bottom: 30px;
    float: left;
}

.content-bottom .left-section p {
    margin-top: 20px;
}

.content-bottom .text-fields {
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 15px;
    margin-top: 40px;
}

.text-fields:nth-of-type(1) {
    margin-top: 0px;
}

.content-bottom .text-fields:focus {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.4);
}

.content-bottom .trip-description {
    height: 300px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.content-bottom .location-description {
    height: 300px;
    margin-top: 40px;
    padding-top: 10px;
}

.content-bottom .location-city {
    margin-top: 0px;
}

.content-bottom .trip-money {
    height: 150px;
    margin-bottom: 40px;
    padding-top: 10px;
}

.accommodation span {
    color: #ff4637;
    margin-right: 10px;
    font-size: 16px;
}

.accommodation div {
    cursor: pointer;
}

.save-trip {
    margin-top: 20px;
}

.save-trip input {
    width: 200px;
    height: 40px;
    background-color: #ff4637;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    border-radius: 2px;
}

.save-trip input:hover {
    background-color: #ff4637;
}

.save-trip input:active {
    position: relative;
    top: 1px;
}

.save-trip input:disabled {
    background: grey;
}

#preview {
    cursor: pointer;
}

#preview:hover {
    -moz-transform: rotate(-2deg);
}

.location-section {
    margin-top: 40px;
}

.locations {
    width: 100%;
    float: left;
    margin: 0 0 80px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    background: #ededed;
    max-height: 0;
    transition: max-height .35s ease-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.locations.active {
    max-height: 350px;
}

.locations .location {
    width: 100%;
    float: left;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
}

.location .details {
    float: left;
    margin: 15px 0 0 15px;
}

.location .img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    float: left;
}

.location .location-img {
    position: absolute;
    left: -35px;
    top: 0;
    height: 100px;

}

.location .add-location {
    float: right;
    width: 20px;
    text-align: center;
}

.location .moods {
    float: right;
}

.location h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.mood-menu,
.mood-menu ul,
.mood-menu li {
    padding: 0;
}

.mood-menu {
    height: 45px;
    width: 45px;
}

.mood-menu:hover {
    background: #ff4637;
}

.mood-menu li {
    position: relative;
    list-style: none;
    float: left;
    height: 45px;
}

.mood-menu li a {
    color: #000;
}

.mood-menu li:first-child a {
    border-left: none;
}

.mood-menu li:last-child a {
    border-right: none;
}

.mood-menu li:hover > a {
    color: #fff;
}

.mood-menu ul {
    position: absolute;
    top: 45px;
    right: 0px;
    opacity: 0;
    background: #ff4637;
    z-index: 10;
}

.mood-menu li:hover > ul {
    opacity: 1;
}

.mood-menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    width: 210px;
}

.mood-menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu-item .plus-image {
    padding: 10px;
}

.mood-menu ul li a {
    width: 100px;
    padding: 4px 0 4px 15px;
    margin-top: 0px;
    border: none;
    text-decoration: none;
}

.mood-menu .select-mood-image {
    float: right;
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 4px;
    right: 5px;
}

.selectable-moods:first-child {
    margin-top: 15px;
}

.selected-moods .mood-images {
    margin-top: 5px;
}

.mood-choice {
    float: right;
}

.selected-moods {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

.mood-images .mood-image {
    height: 30px;
    width: 30px;
}

.selected-moods .cross-image {
    height: 12px;
    width: 12px;
    float: left;
    position: relative;
    bottom: 30px;
    left: 20px;
    cursor: pointer;
}

/*DAYS AMOUNT AND PERSONS AMOUNT*/
.insert-trip-circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.insert-trip-circle-selected {
    background-color: #ff4637;
    border: none;
}

.days-amount .text {
    font-weight: bold;
}

.persons-amount .text {
    font-weight: bold;
}

/* do not group these rules */
.content-bottom .text-fields::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.60)
}

.content-bottom .text-fields:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(0, 0, 0, 0.60);
}

.content-bottom .text-fields::-moz-placeholder {
    /* FF 19+ */
    color: rgba(0, 0, 0, 0.60);
}

.content-bottom .text-fields:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.60);
}

.container.trip-insert {
    max-width: 770px;
}

.validation-error .error-message {
    color: #ff4637;
    font-size: 12px;
}

.google-maps-location {
    margin-top: 40px;
}
