/*HEADER*/
.trip-image img {
    width: 100vw;
}

.input-content {
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

.content-header .profile-image {
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 75px;
}

.content-header .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    /*background: url(http://link-to-your/image.jpg) no-repeat;*/
}

.content-header .moods {
     float: right;
 }

.content-header .moods .add-mood {
    float: right;
    cursor: pointer;
}

/*.content-header .feeling-text {
    font-size: 16px;
    float: right;
    position: relative;
    top: 10px;
}

.content-header .add-mood {
    position: relative;
    top: 10px;
    cursor:pointer;
}

.content-header .add-mood img {
    float: right;
    clear: right;
}*/

/*BOTTOM*/
.content-bottom {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 30px;
}

.content-bottom .left-section {
    float:left;
    width: 240px;
}

.content-bottom .left-section input {
    width: 160px;
}

.content-bottom .left-section p {
    margin-top: 20px;
}

.content-bottom .right-section {
    overflow: hidden;
    margin-left: 240px;
}

.content-bottom .right-section input {
    height: 40px;
    margin-bottom: 80px;
}

.content-bottom .right-section .trip-description {
    height: 300px;
    margin-bottom: 80px;
}

.content-bottom .right-section .trip-money{
    height: 150px;
    margin-bottom: 80px;
}

.content-bottom .right-section .text-fields {
    width: 500px;
}

.accommodation span {
    color: #ff632d;
    margin-right: 10px;
    font-size: 16px;
}

.accommodation div {
    cursor:pointer;
}

.save-trip input {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ff0303;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ff0303;
    box-shadow:inset 0px 1px 0px 0px #ff0303;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff3d3d), color-stop(1, #ff1f48));
    background:-moz-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-webkit-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-o-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:-ms-linear-gradient(top, #ff3d3d 5%, #ff1f48 100%);
    background:linear-gradient(to bottom, #ff3d3d 5%, #ff1f48 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d', endColorstr='#ff1f48',GradientType=0);
    background-color:#ff3d3d;
    border:1px solid #ff1717;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
    padding:10px 32px;
    text-decoration:none;
}

.save-trip input:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff1f48), color-stop(1, #ff3d3d));
    background:-moz-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-webkit-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-o-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:-ms-linear-gradient(top, #ff1f48 5%, #ff3d3d 100%);
    background:linear-gradient(to bottom, #ff1f48 5%, #ff3d3d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f48', endColorstr='#ff3d3d',GradientType=0);
    background-color:#ff1f48;
}
.save-trip input:active {
    position:relative;
    top:1px;
}


#preview{
    cursor:pointer;
}

#preview:hover{
    -moz-transform:rotate(-2deg);
}

/*Validation*/
.text-fields.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.locations {
    width: 100%;
    float: left;
    margin: 0 0 80px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    background: #ededed;
    max-height: 0;
    transition: max-height .35s ease-out;
    overflow-x: hidden;
    overflow-y: auto;
}
.locations.active {
    max-height: 350px;
}

.locations .location {
    width: 100%;
    float: left;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
}
.location .details {
    float: left;
    margin: 15px 0 0 15px;
}
.location .img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    float: left;
}
.location .location-img {
    position: absolute;
    left: -35px;
    top: 0;
    height: 100px;

}
.location .add-location {
    float: right;
    width: 20px;
    text-align: center;
}
.location .moods {
    float: right;
}
.location h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.mood-menu,
.mood-menu ul,
.mood-menu li {
    padding: 0;
}

.mood-menu {
    height: 35px;
    width: 25px;
}

.mood-menu:hover {
    background: #ff632d
}

.mood-menu li {
    position: relative;
    list-style: none;
    float: left;
    height: 35px;
}

.mood-menu li a {
    color: #000;
}

.mood-menu li:first-child a {
    border-left: none;
}
.mood-menu li:last-child a{
    border-right: none;
}

.mood-menu li:hover > a { color: #8fde62; }

.mood-menu ul {
    position: absolute;
    top: 35px;
    right: 0px;
    opacity: 0;
    background: #ff632d;
    z-index: 10;
}

.mood-menu li:hover > ul {
    opacity: 1;
}

.mood-menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    width: 170px;
}

.mood-menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}


.mood-menu ul li a {
  width: 100px;
  padding: 4px 0 4px 4px;
  margin-top: 0px;
  border: none;
}

.mood-menu ul li img {
    float: right;
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 4px;
}

.selectable-moods {
    margin-top: 10px;
}

.selected-moods {

}

.selected-moods .mood-image {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    float: left;
}

.selected-moods .cross-image {
    height: 12px;
    width: 12px;
    float: left;
    position: relative;
    right: 8px;
    bottom: 4px;
    cursor: pointer;
}
