<a class="close-modal pointer" ng-click="uhc.closeDialog()">X</a>

<div class="btn-grp-white">
    <a class="fb-login" ng-href="{{uhc.facebook}}">Login with Facebook</a>
    <a class="gp-login" ng-href="{{uhc.google}}">Login with Google</a>
</div>
<form name="form">
    <input ng-model="uhc.mail" type="email" placeholder="E-Mail" name="inputMail">
    <input ng-model="uhc.password" type="password" placeholder="Passwort" name="inputPassword">
    <input ng-click="uhc.login()" class="pointer login submit button" value="Login" type="submit">
</form>
