<a class="close-modal pointer" ng-click="uhc.closeDialog()">X</a>

<div class="btn-grp-white">
    <a class="fb-login" ng-href="{{uhc.facebook}}">Login with Facebook</a>
    <a class="gp-login" ng-href="{{uhc.google}}">Login with Google</a>
</div>

<input ng-model="uhc.name" type="text" placeholder="Surname" name="name">
<input ng-model="uhc.mail" type="text" placeholder="E-Mail" name="inputMail">
<input ng-model="uhc.password" type="password" placeholder="Passwort" name="inputPassword">
<a ng-click="uhc.register()" class="pointer register submit button">Register</a>

