<a class="close-modal pointer" ng-click="hc.closeDialog()">X</a>

<div class="btn-grp-white">
    <a class="fb-login" ng-href="{{hc.facebook}}">Login with Facebook</a>
    <a class="gp-login" ng-href="{{hc.google}}">Login with Google</a>
</div>
<form name="form">
    <input required ng-model="hc.name" type="text" placeholder="Name" name="name">
    <input required ng-model="hc.mail" type="email" placeholder="E-Mail" name="inputMail">
    <input required ng-model="hc.password" type="password" placeholder="Passwort" name="inputPassword">
    <input ng-click="hc.register()" class="pointer register submit button" value="Registrieren" type="submit">
</form>

