<a class="close-modal pointer" ng-click="mc.closeDialog()">X</a>

<div class="btn-grp-white">
    <a class="fb-login pointer" ng-click="mc.loginFacebook()">Mit Facebook einloggen</a>
    <a class="gp-login pointer" ng-click="mc.loginGoogle()">Mit Google einloggen</a>
</div>
<form autocomplete="off" name="form">
    <input required ng-model="mc.name" type="text" placeholder="Name" name="name">
    <input required ng-model="mc.mail" type="email" placeholder="E-Mail" name="inputMail">
    <input required ng-model="mc.password" type="password" placeholder="Passwort" name="inputPassword">
    <div ng-class="{open: mc.errormsg}" class="msg error-msg">{{mc.errormsg}}</div>
    <input ng-click="mc.register(form)" class="pointer register submit button" value="Registrieren" type="submit">
    <a ng-click="mc.closeDialog(); mc.openLoginDialog()" class="pointer forgotpw">Schon registriert?</a>
</form>
