<div class="insert-location-container" ng-controller="InsertLocationCtrl as ilc">
    <div class="image-upload-modal" ng-show="ilc.showImageUploadModal">
        <img src="{{ilc.imagePath.result}}" id="cropping-preview" alt="" class="image-modal"/>

        <div class="controls">
            <div class="btn" ng-click="ilc.uploadImage()">Upload</div>
        </div>
    </div>
    <div id="trip-image" class="trip-image" ng-click="ilc.showImageChooser()">
        <progress-arc
            ng-hide="ilc.uploadIsDone"
            class="progressbar"
            size="100"
            complete="ilc.progressPercentage"
            counter-clockwise="true">
        </progress-arc>
        <a class="choose-image welcome_button">Choose image</a>
        <input id="image-upload" type="file" onchange="angular.element(this).scope().ilc.selectImage(this)"
               style="display: none">
        <img id="preview" ng-src="http://locator.in.htwg-konstanz.de{{ilc.headerImagePath}}">

    </div>
    <form>
        <div class="input-content">
            <div class="content-header">
                <div class="profile-image">
                    <img ng-src="http://locator.in.htwg-konstanz.de{{ilc.me.picture.picture}}">
                </div>
                <div class="moods">
                    <div class="feeling-text">
                        <p>Wie fühlt sich dein Trip an?</p>
                        <moodselection selected-moods="ilc.selectedMoods" selectable-moods="ilc.selectableMoods"
                                       query="ilc.query"></moodselection>
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <form id="insertLocationForm">
                    <div class="left-section" set-class-when-at-top="fix-to-top">
                        <input class="text-fields" type="text" placeholder="Kategorie (Bar, ...)"
                               ng-model="ilc.locationFormDetails.category" ng-model-options="{ updateOn: 'blur'}"
                               required>
                        <input class="text-fields" type="text" placeholder="Wo no?" ng-map-autocomplete options="ilc.googlePlacesOptions" ng-model="ilc.tripCity" details="ilc.selectedPlaceDetails" ng-model-options="{ updateOn: 'blur'}" required>

                    </div>
                    <div class="right-section">

                        <input class="text-fields" type="text" placeholder="Wie heißt diese Location?"
                               ng-model="ilc.locationFormDetails.title" ng-model-options="{ updateOn: 'blur'}" required>
                        <textarea class="trip-description text-fields" placeholder="Beschreibe deine Location"
                                  ng-model="ilc.locationFormDetails.description" ng-model-options="{ updateOn: 'blur'}"
                                  required></textarea>
                        <textarea class="trip-money text-fields" type="text"
                                  placeholder="Für was braucht dein Gast eventuell Geld?"
                                  ng-model="ilc.locationFormDetails.budget"
                                  ng-model-options="{ updateOn: 'blur'}"></textarea>

                        <ui-gmap-google-map center='ilc.map.center' zoom='ilc.map.zoom' events="ilc.map.events">
                            <ui-gmap-marker coords="ilc.map.clickedMarker" idKey="ilc.map.clickedMarker.id"
                                            options="ilc.map.clickedMarker.options">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>

                        <div class="save-trip" ng->
                            <!--<button>SPEICHERN</button>
-->
                            <input type="submit"  ng-click="ilc.save()" value="SPEICHERN" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>

