<div id="overnight" class="overnight" ng-controller="OvernightCtrl as oc">

    <div class="row">
        <div class="center">

            <div class="col-xs-12 headline">
                <h2>Choose your place to sleep...</h2>
            </div>

            <div ng-repeat="place in oc.sleepPlaces" class="mood col-sm-4" ng-class="{selected: oc.isSelected(place._id)}" ng-click="oc.selectSleepPlace(place._id)">

                <h3>{{place.name}}</h3>

            </div>

        </div>

    </div>
</div>
