<div id="overnight" class="overnight" ng-controller="OvernightCtrl as oc">
    <!--<div class="container">-->
        <!--<div class="overnight-sleepplaces" ng-repeat="place in oc.sleepplaces">-->
            <!--<button>{{place.name}}</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="center">

            <div class="col-xs-12 headline">
                <h2>Choose your place to sleep...</h2>
            </div>

            <div ng-repeat="place in oc.sleepplaces" class="mood col-sm-4">

                <h3>{{place.name}}</h3>

            </div>

        </div>

    </div>
</div>
