<img ng-click="mc.closeDialog()" class="right pointer close-button" src="images/icons/white_cross.png">

<h3>Location speichern</h3>
<p>In welcher Stadt liegt deine Location?</p>

<input class="location-city text-fields" type="text"
       placeholder="Suche einen Ort"
       options="ilc.googleCityOptions" ng-map-autocomplete details="ilc.edgeCity" ng-model="ilc.edgeCityForm"
       name="edge">

<div class="button-wrapper single-button">
    <a class="pointer" ng-click="ilc.edgeCaseSave()">Speichern</a>
</div>

