<div ng-controller="ExploreCtrl as ec" class="container-fluid explore full-without-header">
    <div class="container">
        <div class="row filter">

            <input-dropdown filter-list-method="ec.filterDropdown(userInput)" display-property="'title'"
                            class="col-sm-4 col-xs-12 city-search"
                            selected-item="ec.selectedCity"
                            default-dropdown-items="ec.availableCities"
                            item-selected-method="ec.selectCity(item)"
                            input-placeholder="Stadt"
                            max-items="5">
            </input-dropdown>
            <location-categories class="col-sm-5 col-xs-12"
                                 available-categories="ec.mainCategoryDefinitions"
                                 main-popup-ident="mc.openElement"
                                 popup-ident="exploreCategory"
                                 selected-category="ec.category.main"
                                 select-item-fn="ec.selectCategory(category)"></location-categories>

            <!-- row zu -->
        </div>


        <div class="row result">
            <div ui-sref="locationView({locationId: location._id})" ng-repeat="location in ec.locations" class="pointer col-sm-4 col-xs-12 location">

                <!-- TODO: remove absolute image path before production! -->
                <div class="relative image-wrapper">
                    <img class="location-thumb img-responsive"
                         ng-src="http://ec2-52-28-125-160.eu-central-1.compute.amazonaws.com{{location.images.picture}}?size=mid"
                         alt="{{location.title}} Image">

                    <div class="location-blackgradient-absolute-wrapper">
                        <h2 class="title">{{location.title}}</h2>
                        <span class="category-icon-wrapper"><img class="category-icon"
                                   ng-src="/images/icons/categories/farbe/{{location.category.main.query_name}}.svg"
                                   alt="category icon"></span>

                        <h3 class="city">in {{location.city.title}}</h3>
                    </div>
                </div>

                <div class="schoenhiers">{{location.schoenhiers}} findens schön hier</div>
            </div>
        </div>
    </div>
</div>
