<div ng-controller="ExploreCtrl as ec" class="container-fluid explore full-without-header">
    <div class="container">
        <div class="row">

            <input-dropdown filter-list-method="ec.filterDropdown(userInput)" display-property="'title'"
                            class="col-sm-4 col-xs-12"
                            selected-item="ec.selectedCity"
                            default-dropdown-items="ec.availableCities"
                            item-selected-method="ec.selectCity(item)"
                            input-placeholder="Stadt"
                            max-items="5">
            </input-dropdown>

            <div ng-repeat="location in ec.locations" class="location">
                <h2>{{location.title}}</h2>
            </div>
        </div>
    </div>
</div>
