<div class="insert-location-container" ng-controller="InsertLocationCtrl as ilc">
    <div class="image-upload-modal" ng-show="ilc.showImageUploadModal">
        <img src="{{ilc.imagePath.result}}" id="cropping-preview" alt="" class="image-modal"/>

        <div class="controls">
            <div class="btns">
                <div class="locator-btn save-btn" ng-click="ilc.uploadImage()">hochladen</div>
                <div class="locator-btn cancel-btn" ng-click="ilc.clearFileSelection()">abbrechen</div>
            </div>
        </div>
    </div>
    <div id="trip-image" class="trip-image">
        <div  class="image-too-large" ng-if="ilc.showImageTooLargeModal" ng-include="'templates/modal/imageTooLarge.html'"></div>

        <progress-arc
            ng-if="!ilc.uploadIsDone"
            class="progressbar"
            size="100"
            complete="ilc.progressPercentage"
            counter-clockwise="true">
        </progress-arc>
        <a class="choose-image welcome_button" ng-click="ilc.showImageChooser()">Choose image</a>
        <input id="image-upload" type="file" accept="image/*" onchange="angular.element(this).scope().ilc.selectImage(this)"
               style="display: none">

        <div class="header-image">
            <div class="header-image" ng-style="{'background-image': 'url(' + ilc.headerImagePath + ')' }"></div>
        </div>

    </div>
    <div class="container content-width">
        <div class="row">
            <div class="input-content container content-width">
                <div class="content-header">
                    <div class="col-xs-6">
                        <img class="profile-image" ng-src="{{ilc.me.picture.picture}}">
                    </div>

                </div>
                <div class="content-bottom">
                    <form novalidate name="ilc.form" id="insertLocationForm">
                        <div>
                            <input class="text-fields" type="text" placeholder="Wie heißt diese Location?"
                                   ng-model="ilc.locationFormDetails.title" name="locationTitle"
                                   required>
                            <div style="margin-top: 5px" class="validation-error"
                                 ng-show="(ilc.form.locationTitle.$touched) && ilc.form.locationTitle.$error.required">
                                <p class="error-message">bitte gib den namen der location ein</p>
                            </div>

                            <input class="text-fields" type="text" placeholder="Tags"
                                   ng-model="ilc.locationFormDetails.tags"
                                   name="locationTag"
                                   required>
                            <div style="margin-top: 5px" class="validation-error"
                                 ng-show="(ilc.form.locationTag.$touched) && ilc.form.locationTag.$error.required">
                                <p class="error-message">bitte gib tags für deine location ein</p>
                            </div>

                        <textarea class="location-description text-fields" placeholder="Beschreibe deine Location"
                                  ng-model="ilc.locationFormDetails.description" name="locationDescription"
                                  required></textarea>
                            <div class="validation-error"
                                 ng-show="(ilc.form.locationDescription.$touched) && ilc.form.locationDescription.$error.required">
                                <p class="error-message">bitte gib eine beschreibung für deine location ein</p>
                            </div>
                        <textarea class="trip-money text-fields" type="text"
                                  placeholder="Für was braucht dein Gast eventuell Geld?"
                                  ng-model="ilc.locationFormDetails.budget"
                                  ></textarea>

                            <p>Wähle eine Stadt und markiere die Location auf der Karte:</p>
                            <input class="location-city text-fields" type="text"
                                   placeholder="In welcher Stadt ist diese Location?"
                                   ng-map-autocomplete options="ilc.googlePlacesOptions" ng-model="ilc.tripCity"
                                   details="ilc.selectedPlaceDetails" name="locationCity"
                                   required>
                            <div style="margin-top: 5px" class="validation-error"
                                 ng-show="(ilc.form.locationCity.$touched) && ilc.form.locationCity.$error.required">
                                <p class="error-message">bitte gib den ort deiner location ein</p>
                            </div>

                            <div class="google-maps-location">
                                <ui-gmap-google-map center='ilc.map.center' zoom='ilc.map.zoom' events="ilc.map.events">
                                    <ui-gmap-marker coords="ilc.map.clickedMarker" idKey="ilc.map.clickedMarker.id"
                                                    options="ilc.map.clickedMarker.options">
                                    </ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>

                            <div class="save-trip">
                                <input type="submit"
                                       ng-disabled="ilc.form.$invalid || !ilc.mapMarkerSet"
                                       ng-click="ilc.save()" value="SPEICHERN"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

