<div class="insert-location-container container content-width" ng-controller="InsertLocationCtrl as ilc">
    <div class="row">
        <div class="col-xs-12">

            <h3 class="uppercase">Neue Location erstellen</h3>

            <div class="image-upload-modal" ng-show="ilc.showImageUploadModal">
                <img src="{{ilc.imagePath.result}}" id="cropping-preview" alt="" class="image-modal"/>

                <div class="big-progress" ng-show="ilc.isUploading" style="height: 100%;">
                    <!--<span>{{ilc.progressPercentage}} %</span>-->
                    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 841.9 595.3" style="enable-background:new 0 0 841.9 595.3;" xml:space="preserve">
                   <path class="st0" d="M423.1,549.8l-171-179.2c-28.6-34.6-45.5-78.4-45.5-125.5c0-113.4,97-204.8,216.5-204.8
                        S639.6,131.6,639.6,245c0,47.2-16.9,90.9-45.5,125.5L423.1,549.8" stroke-dashoffset="{{1430 - ilc.progressPercentage * 14.3}}" />
                        </svg>

                </div>

                <div class="controls" ng-show="!ilc.isUploading">
                    <div class="btns">
                        <div class="locator-btn save-btn" ng-click="ilc.uploadImage()">hochladen</div>
                        <div class="locator-btn cancel-btn" ng-click="ilc.clearFileSelection()">abbrechen</div>
                    </div>
                </div>
            </div>

            <div id="trip-image" class="trip-image">
                <img class="img-responsive placeholder-imaeg" src="images/header-image-placeholder.png">

                <div class="image-too-large" ng-if="ilc.showImageTooLargeModal"
                     ng-include="'templates/modal/imageTooLarge.html'"></div>


                <a class="choose-image" ng-click="ilc.showImageChooser()">
                    <img class="img-responsive" src="images/icons/camera.png">
                </a>
                <input id="image-upload" type="file" accept="image/*"
                       onchange="angular.element(this).scope().ilc.selectImage(this)"
                       style="display: none">

                <div class="header-image">
                    <img ng-hide="!ilc.headerImagePath" class="img-responsive" ng-src="{{ilc.headerImagePath}}">
                </div>
            </div>
        </div>
    </div>


    <div class="row content">
        <div class="col-sm-6">
            <div ng-class="{'error' : ilc.error && !ilc.mapMarkerSet}" class="google-maps-location relative">
                <div ng-class="{'loading': ilc.gpsLoading}" class="spinner"></div>
                <ui-gmap-google-map center='ilc.map.center' zoom='ilc.map.zoom'
                                    events="ilc.map.events">
                    <ui-gmap-marker coords="ilc.map.clickedMarker" idKey="ilc.map.clickedMarker.id"
                                    options="ilc.map.clickedMarker.options">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>

            <div class="input-content">
                <div class="content-bottom">
                    <div class="search-wrapper">
                        <input class="location-city text-fields" type="text"
                               placeholder="Suche einen Ort"
                               ng-map-autocomplete options="ilc.googlePlacesOptions" ng-model="ilc.googlePlacesInput"
                               details="ilc.selectedPlaceDetails" name="locationCity"
                               required>
                        <a aria-label="Mein Standort" class="tt tt-small pointer tagme-button" ng-click="ilc.getMyLocation()"><img
                            class="img-responsive-height" src="images/icons/flag_klein_360.png"></a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="input-content">
                <div class="content-bottom">
                    <form novalidate name="ilc.form" id="insertLocationForm">

                        <label class="uppercase">Location Titel</label>
                        <input
                            ng-class="{'error' : (ilc.error) && ilc.form.locationTitle.$error.required}"
                            class="text-fields" type="text" placeholder="Wie heißt deine Location?"
                            ng-model="ilc.locationFormDetails.title" name="locationTitle"
                            required>

                        <label class="uppercase">Tags (z.B. Bar, Cocktails, günstig, ...)</label>
                        <tags-input add-on-space="true" add-on-comma="true" ng-class="{'error' : ilc.error && ilc.locationFormDetails.tags.length < 1}" placeholder="Tag hinzufügen" ng-model="ilc.locationFormDetails.tags"></tags-input>


                        <label class="uppercase">Beschreibung <span class="max-length">({{100 - ilc.locationFormDetails.description.length}} Zeichen)</span></label>
                        <textarea
                            maxlength="100"
                            ng-class="{'error' : (ilc.error) && ilc.form.locationDescription.$error.required}"
                            class="location-description text-fields" placeholder="Beschreibe deine Location"
                            ng-model="ilc.locationFormDetails.description" name="locationDescription"
                            required></textarea>


                        <div class="save pointer">
                            <input
                                class="red button uppercase" type="submit"
                                ng-click="ilc.save()" value="Location erstellen"/>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

