<div class="locationview-container" ng-controller="LocationViewCtrl as lt">
    <div id="trip-image" class="trip-image header-image-container">
        <div class="header-image" style="background-image: url({{lt.locationImagePath}});"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="content-header">
                <div class="col-xs-6">
                    <img class="profile-image" ng-src="{{lt.profileImagePath}}">
                </div>
                <div class="col-xs-6">
                    <div class="link-container">
                        <div class="all-locations pointer" style="background-image: url('./images/icons/location.png')"></div>
                        <div class="messenger pointer" style="background-image: url('./images/icons/messenger.png')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="location-title">
                    <p class="big-font-size">{{lt.location.title}}</p>
                </div>
                <div class="location-creator">
                    <p>von <strong>{{lt.user.name}}</strong> am <strong> <resultdate class="black" date="lt.location.create_date"></resultdate></strong></p>
                </div>
                <div class="location-description">
                    <p>{{lt.location.description}}</p>
                </div>
                <div class="location-tags" ng-if="lt.location.tags.length > 0">
                    <span ng-repeat="tag in lt.location.tags" class="tag">{{tag}}</span>
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <div class="map-title">
                    <p class="big-font-size">Karte</p>
                </div>

                <div class="map-image" style="background-image: url({{lt.location.images.googlemap + '&size=400x450'}});"></div>
            </div>
        </div>
    </div>
</div>





