<div class="locationview-container" ng-controller="LocationViewCtrl as lt">
    <div id="trip-image" class="trip-image header-image-container">
        <div class="header-image" ng-style="{'background-image':'url('+lt.locationImagePath+')'}"></div>
        <img class="header-icon location-icon img-responsive" src="images/icons/location_white.png">

    </div>
    <div class="container">
        <div class="row">
            <div class="content-header">
                <div class="col-xs-4">
                    <img class="profile-image pointer" ng-src="{{lt.profileImagePath}}"
                         ui-sref="user({profileId: lt.userId})">
                </div>
                <div class="col-xs-8 minus-fifty-top">
                    <div class="link-container" ng-hide="lt.userId === 'locator-app'">
                        <span class="tt-container tt tt-small" aria-label="Alle Locations anzeigen">
                            <img src="images/icons/trip-min-view/alle_locations.svg" class="icon-circle padding pointer"
                                 ng-click="lt.moveToAllLocations()">
                        </span>
                        <span class="tt-container tt tt-small" aria-label="Kontakt aufnehmen">
                            <img src="images/icons/trip-min-view/chat.svg" ng-hide="lt.me" class="icon-circle pointer"
                                 ng-click="lt.moveToMessenger()">
                        </span>
                        <span class="tt-container tt tt-small" aria-label="Location bearbeiten">
                            <img src="images/icons/trip-min-view/edit.svg" ng-hide="!lt.me" class="icon-circle"
                                ng-click="lt.moveToEditTrip()">
                        </span>
                    </div>
                    <span aria-label="Zurück zum Trip" class="back-wrapper tt tt-small"><a ng-if="previousTrip != ''" ui-sref="trip({tripId: previousTrip})" class="previous-trip-button uppercase pointer"><img class="back-button" src="images/icons/icons_stuff/slideshow_slider_links.svg"></a></span>

                </div>
            </div>
        </div>
        <div class="row fix-position-bottom">
            <div class="col-xs-12 col-sm-5 fix-position-left">
                <div class="location-title">
                    <h2>{{lt.location.title}}</h2>
                </div>
                <div class="location-creator">
                    <p>von <span class="pointer"
                                 ui-sref="user({profileId: lt.userId})"><strong>{{lt.user.name}}</strong></span> am
                        <strong>
                            <resultdate class="black" date="lt.location.create_date"></resultdate>
                        </strong></p>
                </div>
                <div class="location-description">
                    <p>{{lt.location.description}}</p>
                </div>
                <div class="location-tags" ng-if="lt.location.tags.length > 0">
                    <span ng-repeat="tag in lt.location.tags" class="tag">{{tag}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-2">

                <div class="map-image"
                     ng-style="{'background-image': 'url('+lt.location.images.googlemap+'&size=600x420)'}" style="background-size: cover; background-position:center;"></div>
            </div>
        </div>
    </div>
</div>





