.city-search {

}
.city-search input {
    background: rgba(34,34,34,.1);
    border: 1px solid rgba(204,204,204,1);
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}
.city-search ul {
    border:none!important;
}
.city-search ul li {
    background-color: #fff;
}
.city-search ul li:hover, .city-search ul li.active {
    background-color: #b1b491 !important;
    color: #fff;
}

.clear-value {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    cursor: pointer;
}
.clear-value.visible {
    display: block;
}
