.mylocations-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mylocations-container .location {
    padding-bottom: 15px;
    float: left;
}

.mylocations-container .location .content {
    float: left;
    width: 100%;
    padding: 15px;
}

.location-settings {
    float: left;
    width: 100%;
    padding: 15px;
}

.big-padding {
    padding: 30px;
}

.big-font-size {
    font-size: 20px;
}

.map-title {
    margin-top: 40px;
}

.location-title {
    margin-top: 40px;
}

.locationview-container .map-image {
    height: 454px;
    width: 404px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 3px;
    border: 2px solid white;
}

.location-settings input {
    visibility: hidden;
}

.location-settings .toggle-label {
    float: left;
    margin-right: 10px;
    line-height: 35px;
}

.locationborder {
    border-top: 2px solid rgb(193, 195, 195);
}

.mylocations-container .locationborder {
    border-top: 1px solid rgb(34,34,34);
}

.location-tags .tag {
    background: rgb(49, 47, 48);
    border-radius: 10px;
    margin-right: 5px;
    padding: 4px;
    color: white;
    font-size: 15px;
}

.location-tags {
    padding: 15px;
}

.location-tags .tag:last-child {
    margin-right: 0;
}

.searchbar {
    padding: 15px;
    text-align: center;
}

.searchbar input {
    width: 300px;
    max-width: 100%;
    padding: 4px;
    font-size: 15px;
}

.locationview-container .location-tags {
    padding-left: 0;
}

.locationview-container .further-links {
    position: relative;
    bottom: 70px;
    right: 50px;
    padding: 10px;
    float: right;
    background-color: rgb(49, 47, 48);
    border-radius: 3px;
}

.locationview-container .link-container {
    display: inline-block;
    z-index: 10;
    width: 140px;
    height: 80px;
    background: rgb(34, 34, 34);
    border-radius: 3px 3px 0px 0px;
    float: right;
    padding: 15px 15px 15px 15px;
    position: relative;
    bottom: 80px;
    right: 50px;
}

.locationview-container .link-container .all-locations {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

.locationview-container .link-container .messenger {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float: left;
}

