.messenger-container .conversations .item {
    padding: 10px;
    float: left;
    width: 100%;
}

.messenger-container .conversations .item:nth-child(odd) {
    background: rgb(232, 232, 232);
}

.messenger-container .conversations .item:nth-child(even) {
    background: whitesmoke;
}

.messenger-container .conversations .item.active {
    background-color: rgb(97, 217, 210);
}

.messenger-container .conversations {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.md-avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    float: left;
}

.messenger-container .header {
    float: left;
    width: 100%;
}

.messenger-container .content {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    width: 100%;
    height: calc(100vh - 230px);
}

.messenger-container .content .message {
    width: 100%;
}

.messenger-container .content .message {
    float: left;
    margin-bottom: 30px;
}

.messenger-container .content .message p {
    background: #f6bfba;
    max-width: 65%;
    position: relative;
    padding: 15px;
}

.messenger-container .content .message.out p {
    background: #b8e4e0;
    float: right;
    min-width: 50%;
}

.messenger-button {
    width: 60px;
    height: 70px;
    border: none;
    float: left;
    background: white;
}

button#chat_submit {
    float: right;
}

#chat_box {
    width: calc(100% - 60px);
    background: white;
    border: none;
    float: left;
    padding: 11px;
    height: 70px;
}

.chat-input {
    padding-top: 15px;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

span.bubble {
    height: 20px;
    width: 30px;
    background-color: rgb(246, 191, 186);
    float: left;
    position: absolute;
    bottom: -4px;
    left: -16px;
    transform: rotate(52deg);
}

.out span.bubble {
    right: -13px;
    background: #b8e4e0;
    left: inherit;
    top: 38px;
    transform: rotate(35deg);
}

.emoji-overlay {
    position: absolute;
    background-color: white;
    padding: 15px;
    padding: 9px;
    right: 60px;

}

.conversations {
    padding-top: 15px;
    float: left;
    width: 100%;
}
