.messenger-container .conversations .item {
    padding: 10px;
}

.messenger-container .conversations .item:nth-child(odd) {
    background: rgb(232, 232, 232);
}

.messenger-container .conversations .item:nth-child(even) {
    background: whitesmoke;
}

.messenger-container .conversations .item.active {
    background-color: rgb(97, 217, 210);
}

.messenger-container .conversations {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.md-avatar {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    float: left;
}

.messenger-container .header {
    float: left;
    width: 100%;
}

.messenger-container .content {
    max-height: 50vh;
    overflow-y: scroll;
    float: left;
    width: 100%;
    padding: 15px;
}

.messenger-container .content .message {
    width: 100%;
}

.messenger-container .content .message {
    float: left;
}

.messenger-container .content .message p {
    background: #f6bfba;
    max-width: 65%;
    padding: 15px;
}

.messenger-container .content .message.out p {
    background: #b8e4e0;
    float: right;
    min-width: 50%;
}

button#chat_submit {
    width: 60px;
    height: 40px;
    border: none;
}

textarea#chat_box {
    height: 40px;
    width: calc(100% - 64px);
    background: white;
    border: none;
}

.chat-input {
    padding-top: 15px;
    float: left;
    width: 100%;
}



