@media (max-width: 1280px) {

    .welcome_container {
        padding-top: 50px;
    }

    .row.select_wrapper {
        padding-top: 50px;
    }

}

/* LG */
@media (min-width: 992px) {

}

/* SM */
@media (max-width: 991px) {

}

/* XS */
@media (max-width: 767px) {

    .profile {
        font-size: 15px;
    }

    .header-bar .edit-user {
        display: none;
    }

    .header-bar .header-right {
        margin: 0;
    }

    .staticButtons {
        display: none;
    }

    .absolute-slider .welcome-left {
        width: 100%;
    }

    .absolute-slider .welcome-right {
        display: none;
    }

    .welcome_container {
        padding-top: 15px;
    }

    .row.select_wrapper {
        padding-top: 15px;
    }

    .footer .footer_logo {
        float: left;
        margin: 15px 0;
    }

    .welcome_wrapper {
        left: 0;
        width: 100%;
    }

    .welcome_select {
        width: 100%;
        right: 0;
    }

    .welcome_button_wrapper {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    a.welcome_button {
        width: 100%;
    }

    .logo-small {
        display: none;
    }

    span.green, span.red {
        width: 100%;
    }

    .header-bar .menu {
        margin-right: 0;
    }

    .text-wrapper {
        float: left;
        width: 100%;
    }

    .footer ul li {
        float: left;
    }
}


