@media (max-width: 1280px) {

    .welcome_container {
        padding-top: 50px;
    }

    .row.select_wrapper {
        padding-top: 50px;
    }

    .welcome-wrapper .help {
        padding: 15px 30px;
    }

    .help-item .help-icon {
        height: 60px;
    }

    .help-item {
        line-height: 60px;
        margin: 0;
    }

    .beta-badge {
        top: -20px;
    }

}

/* LG */
@media (min-width: 992px) {
    .trip-image .placeholder-imaeg {
        min-height: 509px;
    }
}

/* SM */
@media (max-width: 991px) {
    .welcome_select span.title {
        max-width: 260px;
    }

    .flex-direction-nav a {
        background: none;
    }

    .edittrip-container .metadata .border-wrapper {
        padding: 0;
    }

    .edittrip-container .datepicker .ui-widget {
        border-width: 0px;
        border-bottom: 1px solid rgb(34, 34, 34);
    }

    .edittrip-container .persons.meta-section, .edittrip-container .accomo.meta-section {
        padding: 0 5px;
    }

    .edittrip-container .location .select-overlay {
        height: 100%;
        opacity: 1;
        visibility: visible;
        width: 11.333333%;
        padding: 0;
        line-height: 75px;
        max-width: 35px;
    }

    .edittrip-container .content-wrapper {
        padding-right: 7px;
    }

    .edittrip-container .location .select-overlay img {
        padding: 5px;
        width: 100%;
        height: auto;
    }

    .edittrip-container .location-tags .tag {
        word-wrap: initial;
        float: left;
        margin-bottom: 3px;
    }

}

/* XS */
@media (max-width: 767px) {

    .result-content-box {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
    }

    .edittrip-container .min-height-wrapper {
        min-height: 221px;
        margin-bottom: 10px;
    }

    .edittrip-container .datepicker .ui-widget {
        border-width: 1px;
    }

    .edittrip-container .metadata .border-wrapper {
        padding: 15px;
    }

    .welcome-wrapper .help {
        width: 100%;
        height: auto;
        top: 0;
    }

    .help-item span {
        width: calc(100% - 80px);
        float: right;
        line-height: 27px;
    }

    .help-item {
        line-height: 27px;
    }

    .welcome-wrapper .right .help-icon {
        float: initial;
    }

    .welcome-wrapper .right .help-icon {
        margin-right: 15px;
        margin-left: 0;
    }

    .help-item {
        padding-bottom: 15px;
    }

    .welcome-wrapper .help.search {
        left: -100vw;
    }

    .welcome-wrapper .help.create {
        right: -100vw;
    }

    .locationview-container .fix-position-left {
        left: inherit;
    }

    .content-header .profile-image {
        height: 90px;
        width: auto;
        margin-top: -75px;
    }

    .welcome_container .opener .welcome_wrapper {
        padding-right: 15px;
    }

    .createview .welcome_wrapper {
        padding-left: 15px;
    }

    .welcome_wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .welcome_wrapper .text-wrapper {
        max-width: inherit;
    }

    .trip-min-view .result-content-box {
        border-left: none;
    }

    .flex-direction-nav a.flex-next {
        right: 0 !important;
    }

    .flex-direction-nav a.flex-prev {
        left: 0 !important;
    }

    .trip-info-container .fix-position-left {
        left: inherit;
    }

    .trip-image .placeholder-imaeg {
        min-height: inherit;
    }

    .message-button {
        width: calc(100% - 50px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .profile {
        font-size: 15px;
    }

    .header-bar .edit-user {
        display: none;
    }

    .header-bar .header-right {
        margin: 0;
    }

    .staticButtons {
        display: none;
    }

    .absolute-slider .welcome-left {
        width: 100%;
    }

    .absolute-slider .welcome-right {
        display: none;
    }

    .welcome_container {
        padding-top: 15px;
    }

    .row.select_wrapper {
        padding-top: 15px;
    }

    .footer .footer_logo {
        margin: 15px 0;
    }

    .welcome_wrapper {
        left: 0;
        width: 100%;
    }

    .welcome_select {
        width: 100%;
        right: 0;
    }

    .welcome_button_wrapper {
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
    }

    .front-help-wrapper {
        float: right;
    }

    .edittrip-container .equi-ico.pointer {
        width: 12%;
        height: 85px;
        background-repeat: no-repeat;
    }

    .edittrip-container .infobox {
        height: auto;
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .edittrip-container .infobox h3 {
        margin-top: 0;
    }

    .edittrip-container .slider {
        padding-right: 15px;
    }

    a.welcome_button {
        width: 100%;
    }

    span.green, span.red {
        width: 100%;
    }

    .header-bar .menu {
        margin-right: 0;
    }

    .text-wrapper {
        float: left;
        width: 100%;
    }

    .htwg_logo {
        float: initial;
    }

    .footer h4 {
        text-align: center;
    }

    .center-xs {
        text-align: center;
    }

    .tt:before, .tt:after {
        display: none !important;
    }

    h2.breadcrumbs {
        margin-left: 0;
    }

    .insert-location-container .search-wrapper {
        margin-bottom: 15px;
    }

    h2.breadcrumbs {
        display: none;
    }

    .welcome_select {
        font-size: 25px;
    }

    .edittrip-container .bottom-wrapper .absolute-bottom-right {
        position: inherit;
    }

    .logo-small {
        height: 45px;
    }

    .search-container .fixed-top, .search-container .search-searchbar {
        position: initial;
        float: left;
        width: 100%;
    }

    .edittrip-container .border-wrapper {
        height: auto;
        overflow: inherit;
    }

    /* tripminview */
    .trip-min-view .result-content-box {
        height: auto;
        float: left;
        width: 100%;
    }

    .trip-min-view .result-content-wrapper {
        margin-bottom: 70px;
    }

    .results-container.container {
        margin-top: 0px;
    }

    .search-container .fixed-top {
        height: auto;
        margin-top: 30px;
    }

    .container-sidebar {
        display: none;
    }

    .trip-mood-container {
        margin: 0;
        float: left;
        border-radius: 3px;

        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .move-50-top {
        margin-top: -50px;
    }

    .messenger-container .messages-wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
        margin-bottom: 30px;
    }

    #chat {
        padding-top: 15px;
    }

    #conversations .list {
        margin-top: 15px;
    }

    .messenger-container .header {
        margin-top: 15px;
    }

    .messenger-container .conversations .list {
        width: 100%;
        overflow: hidden;
        margin: 0;
        min-height: initial;
    }

    .messenger-container .conversations {
        max-width: none;
        min-height: initial;
        margin-bottom: 30px;
    }

    .messenger-container .conversations .profileimage {
        display: none;
    }

    .messenger-container .light-grey {
        min-height: 500px;
    }

    .messenger-container h2 {
        text-align: center;
    }

    .trip-success-container .wrapper {
        position: inherit;
    }

    .trip-success-container .infobox {
        border-left: none;
    }

    .trip-success-container .wrapper {
        margin-top: 0;
        padding: 15px;
    }

    .trip-success-container .wrapper {
        height: auto;
    }

    .stoerer-small {
        display: none;
    }

    .welcome_container {
        min-height: initial !important;
    }

    .absolute-slider {
        height: 100%;
        min-height: initial;
    }

    .mobile-settings {
        width: 100%;
    }

    .mobile-settings .settings-container {
        width: 100%;
        left: 0;
    }

}

@media screen and (min-width: 1200px), screen and (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}



