@media (max-width: 1280px) {

    .welcome_container {
        padding-top: 50px;
    }

    .row.select_wrapper {
        padding-top: 50px;
    }

}

/* LG */
@media (min-width: 992px) {

}

/* SM */
@media (max-width: 991px) {

}

/* XS */
@media (max-width: 767px) {
    .absolute-slider .welcome-left {
        width: 100%;
    }

    .absolute-slider .welcome-right {
        display: none;
    }

    .welcome_container {
        padding-top: 15px;
    }

    .row.select_wrapper {
        padding-top: 15px;
    }
}


