.search-menu {
    height: 100px;
    position: absolute;
    width: 100px;
    top: 0px;
}

.search-menu div {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    z-index: 200;
}

.item-active {
    background-color: rgb(85, 212, 205);
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    background-image: url(../images/icons/filter_weiss.png);
}

.item-black {
    background-image: url(../images/icons/filter_schwarz.png);
}

.settings {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 165px;
    z-index: 191;
    margin-left: 0px;
    background: #33c4b7;
    border-top-right-radius: 3px;
}

.container-sidebar {
    position: fixed;
    width: 100px;
    top: 60px;
    z-index: 10;
}

.filter-offset {
    position: relative;
    padding-top: 131px;
    z-index: 100;
}

html, body {
    height: 100%;
}

.sample-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity: 0;
}

.filter-container {
    padding: 10px 15px 15px 15px;
    color: white;
}

.filter-container hr {
    margin: 10px -15px 0px -15px;
}

.input-transparent {
    border: none;
    background-color: transparent;
    text-transform: lowercase;
}

.selected-acc {
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.circle-selected {
    background-color: white;
    color: #33c4b7;
}

.search-menu .item {
    width: 103px;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    border-top-right-radius: 3px;
}

.city-suggestion p {
    margin-left: 37px;
}

.city-suggestion:hover {
    font-weight: bold;
    cursor: default;
}

.result-img {
    width: 300px;
    height: 200px;
}

.result-right {
    display: inline;
    float: right;
}

.result-left {
    display: inline;
    float: left;
}

.date-container {
    padding-left: 30px;
}

.setting-selection-container {
    padding-top: 10px;
}

.search-menu-inactive {
    width: 80px;
}

.orange {
    color: #ff4637;
}

.day-amount {
    display: inline-block;
}

.day-amount-label {
    display: inline;
}

.moods-container div {
    display: inline-block;
}

.result-mood-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.result-user-info {
    font-size: 12px;
}

.result-trip-title {
    margin: 5px 0 20px 0;
}

.result-trip-date {
    margin: 0 0 0 0;
}

.result-content {
    margin: 10px 10px 0 10px;
}

.search-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insert-icon {
    width: 24px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-search-icon {
    width: 25px;
    height: 25px;
}

img-triplist {
    float: left;
    width: 100%;
}

trip-min-view .result-content-box {
    background: rgb(34, 34, 34);
    height: 100%;
    border-left: 1px solid white;
    padding: 0 0 0 0;
}

.no-margin {
    margin: 0 0 0 0;
}

.no-padding {
    padding: 0 0 0 0;
}

.trip-min-view .result-content-wrapper {
    float: left;
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    color: white;
}

.moods-container {
    float: right;
    width: 100%;
    display: inline-block;
}

.trip-min-view .inner-result {
    float: left;
    margin: 20px 20px 0 0;
    width: 100%;
    border: none;
}

.search-container .inner-result {
    margin: 25px 0;
}

.accommodation-equipment {
    margin-bottom: 30px;
}

.search-searchbar {
    position: fixed;
    top: 65px;
    display: block;
    z-index: 5;
}

.trip-min-view .result-content-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid white;
}

.result-content-bottom .icon-container
{
    height: 100%;
    width: calc(25% - 4px);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition:.5s;
    transition:.5s;
    transition-property: background-color;
    -webkit-transition-property: background-color;
    display: inline-block;
}

.result-content-bottom .icon-container:first-child {
    width: 25%;
    border-right: 1px solid white;
}

.result-content-bottom .icon-circle-container
{
    height: 100%;
    width: calc(25% - 4px);
    -webkit-transition:.5s;
    transition:.5s;
    display: inline-block;
    position: relative;
}

.locationview-container .icon-circle,
.result-content-bottom .icon-circle
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    background-color: white;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.locationview-container .icon-circle {
    display: inline-block;
}

.locationview-container .link-container .padding {
    margin-right: 10px;
}

.locationview-container .icon-circle:hover {
    background-color: #33c4b7;
}

.result-content-bottom .icon-circle:hover {
    background-color: #33c4b7;
}

.result-content-bottom .look-icon {
    background-image: url("../images/icons/trip-min-view/trip_ansicht.svg");
}

.result-content-bottom .location-icon {
    background-image: url("../images/icons/trip-min-view/locations.svg");
}

.locationview-container .messenger-icon {
    background-image: url("../images/icons/trip-min-view/chat.svg");
}

.result-content-bottom .messenger-icon {
    background-image: url("../images/icons/trip-min-view/chat.svg");
}

.locationview-container .all-locations-icon {
    background-image: url("../images/icons/trip-min-view/alle_locations.svg");
}

.result-content-bottom .edit-icon {
    background-image: url("../images/icons/trip-min-view/edit.svg");
}

.locationview-container .edit-icon {
    background-image: url("../images/icons/trip-min-view/edit.svg");
}

.white-border {
    border-right: 1px solid white;
}

.trip-min-view .location-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    width: 300px;
    height: 100%;
    z-index: 5;
    padding: 0 5px 0 5px;
    overflow: scroll;
}

.location-container::-webkit-scrollbar {
    display: none;
}

.location-container .white {
    color: white;
    background: none;
}

.results-container .trip-min-view .row-container {
    position: relative;
    height: 330px;
    margin: 0 0 0 0;
}

.result-content-wrapper {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    height: 130px;
}

.result-content-box {
    padding: 5px 5px 0 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.inner-result {
    border: 2px solid rgb(193, 195, 195);
    float: left;
    margin: 20px 20px 0 0;
    width: 100%;
}

.result-content-wrapper {
    float: left;
    height: 250px;
    width: 100%;
    border: none;
}

.setting-selection-container span {
    display: block;
    padding-bottom: 5px;
}

.filter-container .ui-widget-content,
.filter-container .ui-state-default,
.filter-container .ui-widget-content .ui-state-default,
.filter-container .ui-widget-header .ui-state-default,
.mobile-settings .ui-widget-content,
.mobile-settings .ui-state-default,
.mobile-settings .ui-widget-content .ui-state-default,
.mobile-settings .ui-widget-header .ui-state-default {
    color: white;
}

.mobile-settings .ui-datepicker .ui-datepicker-next span {
    background-image: url('../images/icons/icons_stuff/arrow_right.svg');
}

.mobile-settings .ui-datepicker .ui-datepicker-prev span {
    background-image: url('../images/icons/icons_stuff/arrow_left.svg');
}

.filter-container .dp-highlight .ui-state-default,
.mobile-settings .dp-highlight .ui-state-default {
    background-color: white;
    color: #33c4b7;
}

.accomodation-label .accomodation-label {
    display: block;
}

.min-view-accomodation-container {
    width: 100%;
}

.min-view-accomodation-container acc-equ-chooser div {
    margin: 0 0 0 0;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.min-view-accomodation-container {
    margin-top: 10px;
}

.search-searchbar .green {
    margin-right: 8px;
}

.trip-min-view .img-list-container {
    height: 100%;
}

.results-container .img-list-container img-triplist .flexslider {
    height: 330px;
    border-radius: 3px 0 0 3px;
}

.search-container .fixed-top {
    position: fixed;
    top: 60px;
    height: 60px;
    width: auto;
    z-index: 5;
}

.search-container .welcome_select {
    right: 0;
}

.search-searchbar {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.search-searchbar.fade-top {
    top: -60px;
}

.without-overlay .bigger-button {
    display: none;
}

.container-sidebar .settings {
    left: -200px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.mobile-settings .settings.toggle {
    left: 0;
}

.mobile-settings .settings.toggle {
    left: 0;
}

.mobile-settings {
    width: auto;
    height: 50px;
    background-color: #33c4b7;
    position: relative;
    float: left;
    padding: 4px 10px 4px 10px;
    border-radius: 3px;
    color: white;
    margin-top: 5px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    display: inline-block;
}

.mobile-settings .datepicker-container {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.mobile-settings hr {
    display: none;
    position: relative;
}

.toggle-settings {
    width: 100%;
    display: block;
    font-size: 25px;
    height: 50px;
}

.mobile-settings .filter-container {
    display: inline-block;
    padding-top: 0;
    padding-left: 0;
}

.mobile-settings .settings-container {
    margin-top: 5px;
    position: absolute;
    top: 48px;
    left: -124px;
    z-index: 5;
    background: #33c4b7;
    border-radius: 3px;
    padding: 12px;
    width: 184px;
    font-size: 12px;
}

.toggle-settings .filter-icon {
    background-image: url(../images/icons/filter_weiss.png);
    background-size: 40px 40px;
    background-position: center;
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
}

.mobile-settings .filter-container .setting-selection-container:first-child {
    padding-top: 0;
}

.load-more-button {
    border-radius: 3px;
    background: #33c4b7;
    position: relative;
    width: 260px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggle-settings-container {
    display: inline-block;
    width: auto;
}

.more-settings-desc {
    display: none;
}

.tt-wrapper {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.hide-settings {
    display: none;
}

.setting-selection-container input.cmn-toggle-round:checked + label:before {
    background-color: white;
}

.setting-selection-container input.cmn-toggle-round + label {
    width: 63px;
}

.setting-selection-container input.cmn-toggle-round:checked + label:after {
    background-color: #D5D5D5;
}



