.search-menu {
    height: calc(100vh - 200px);
    position: absolute;
    width: 300px;
    top: 150px;
}

.search-menu div {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 200;
}

.item-active {
    background-color: rgb(85, 212, 205);;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    position: relative;
}

.settings {
    width: 220px;
    height: 100vh;
    position: absolute;
    z-index: 191;
    margin-left: 80px;
    background: #33c4b7;
}

.container-sidebar {
    position: fixed;
    height: 100vh;
    width: 100px;
    top: 0px;
    z-index: 10;
}

.item-description {
    display: inline;
    text-align: center;
    float: right;
    width: 220px;
}

.search-offset {
    position: relative;
    padding-top: 221px;
    z-index: 100;
}

.filter-offset {
    position: relative;
    padding-top: 363px;
    z-index: 100;
}

.date-offset {
    position: relative;
    padding-top: 292px;
    z-index: 100;
}

.moods-offset {
    position: relative;
    padding-top: 434px;
    z-index: 100;
}

html, body {
    height: 100%;
}

.sample-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity: 0;
}

.filter-container {
    padding: 5px 15px 30px 15px;
}

.input-transparent {
    border: none;
    background-color: transparent;
    text-transform: lowercase;
}

.selected-acc {
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.circle-selected {
    background-color: black;
    color: #33c4b7;
}

.search-menu .item {
    max-width: 50px;
}

.search-menu .item-active {
    max-width: none;
}

.city-suggestion p {
    margin-left: 37px;
}

.city-suggestion:hover {
    font-weight: bold;
    cursor: default;
}

.result-img {
    width: 300px;
    height: 200px;
}

.result-right {
    display: inline;
    float: right;
}

.result-left {
    display: inline;
    float: left;
}

.date-container {
    padding-left: 30px;
}

.date-range-container {
    padding-top: 10px;
}

.search-menu-inactive {
    width: 80px;
}

.orange {
    color: #ff4637;
}

.day-amount {
    display: inline-block;
}

.day-amount-label {
    display: inline;
}

.moods-container {
    display: inline-block;
    padding-left: 100px;
}

.moods-container div {
    display: inline-block;
}

.result-mood-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.result-user-info {
    font-size: 12px;
}

.result-content-wrapper {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    height: 130px;
}

.result-content {
    padding: 0px 10px 0px 10px;
}

.search-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insert-icon {
    width: 24px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-search-icon {
    width: 25px;
    height: 25px;
}

img-triplist {
    float: left;
    width: 100%;
}

.result-content-wrapper {
    float: left;
    height: auto !important;
    width: 100%;
    border: none;
}

.moods-container {
    float: right;
}

.inner-result {
    border: 2px solid rgb(193, 195, 195);
    float: left;
    margin: 20px 20px 0 0;
    width: 100%;
}

.accommodation-equipment {
    margin-bottom: 30px;
}



