* {
    font-family: 'Signika', Helvetica neue, Arial;
    outline: none;
}

html {
    overflow-y: scroll;
}

body {
    background: #f5f5f5;
    text-transform: lowercase;
}

.opener h2 {
    font-family: 'Signika', Helvetica neue, Arial;
    font-weight: 100;
}

.fullsize {
    min-height: 100vh;
}

.absolute-slider {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    max-heigth: 100vh;
    z-index: -1;
}

.absolute-slider li {
    list-style: none;
}

.relative {
    position: relative;
}

.flexslider {
    border: 0;
    overflow: hidden;
    height: 100vh;
}

.fullsize.opener {
    overflow: hidden;
}

.logo {
    border-radius: 300px;
    max-height: 200px;
}

.center {
    text-align: center;
}

.flex-control-nav {
    bottom: 50px;
    z-index: 10;
}

.absolute-front {
    z-index: 100;
    position: absolute;
    float: left;
    width: 100%;
    padding-top: 80px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modus-container {
    position: relative;
    height: 50vh;
}

.local-container {
    background-color: #b0c4de
}

.opener .flex-direction-nav {
    display: none;
}

.opener h2 u {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-decoration: none;
}

.opener .headline {
    margin-bottom: 20px;
}

.opener .slides img {
    height: 100vh;
    width: 100vw;
}

#results .trip-img {
    height: 100%;
    width: 100%;
}

#results .trip {
    min-height: 300px;
    background-size: cover;
    border: 15px solid white;
}

#results .trip .caption {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
}

.mood {
    min-height: 170px;
    background: black;
    border: 15px solid white;
    cursor: pointer;

    transition-duration: 0.7s;
}

.mood.selected {
    background: green;
}

.mood.excluded {
    opacity: 0.5;
}

.mood h3 {
    color: white;
    text-align: center;
}

.tripler {
    background-color: #f7e1b5;
}

body.no-scroll {
    overflow: hidden;
}

body.slider {
    background: none;
}

#specificTrip {
    background: orange;
}

.trip .trip-image {
    width: 100%;
}

.trip-img-wrapper {
    width: 100%;
    float: left;
    overflow: hidden;
    max-height: 600px;
}

.tripwrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid .container {
    padding-left: 0px;
    padding-right: 0px;
}

/* new home */
.home-searchbar {
    width: 100%;
    position: absolute;
    bottom: 170px;
    left: 0;
    z-index: 99;
}

.home-searchbar .search .white {
    color: #fff;
}

.home-searchbar .search .padding-top {
    padding: 15px 0 0 0;
}

.home-searchbar .search {
    width: 80%;
    float: left;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-left: none;
    font-size: 16px;
    font-weight: 400;
}

.home-searchbar .search .search-arrow-left {
    float: left;
}

.home-searchbar .search .search-button-right {
    background: #fff;
    height: 58px;
    width: 128px;
    float: right;
}

.home-searchbar .search .search-range-slider {
    height: 58px;
    width: 255px;
    float: right;
    margin: 0 15px 0 0;
}

.home-searchbar .search .search-date-button {
    background: #fff;
    height: 58px;
    width: 60px;
    float: right;
    margin: 0 15px 0 0;
}

.home-searchbar .create {
    float: right;

}

.input-city, .input-city:focus {
    background: none;
    border: none;
    outline: none;
}

.logo {
    width: 100%;
    margin: 0 auto;
}

.logo .home-logo {
    width: 155px;
    margin: 50px auto;
}

.input-city::-webkit-input-placeholder {
    color: #fff;
}

.input-city::-moz-placeholder {
    color: #fff;
}

/* firefox 19+ */
.input-city:-ms-input-placeholder {
    color: #fff;
}

/* ie */
.input-city:-moz-placeholder {
    color: #fff;
}

.header-bar {
    width: 100%;
    float: left;
}

.header-bar .btn-group {
    float: left;
    min-height: 50px;
}

.header-bar .btn-group a {
    color: #fff;
    line-height: 60px;
}

.header-bar .btn-group a:hover {
    text-decoration: none;
    cursor: pointer;
}

a.padding {
    padding: 5px;
    margin: 0 5px;
}

.result {
    width: 40%;
    float: left;
    margin: 20px 20px 0 0;
    height: 30%;
}

ul.slides {
    float: left;
    width: 100%;
    height: 100%;
}

.img-slide {
    float: left;
    width: 100%;
    height: 100%;
}

.slides li {
    float: left;
    width: 100%;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    transition-duration: 1s;
    z-index: -1;
}

.blackopac {
    background: rgba(0, 0, 0, 0.6);
}

.overlay.active {
    opacity: 1;
    display: block;
    z-index: 999;
}

.moodal {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 120px;
    margin-left: -150px;
    margin-top: -150px;
    opacity: 0;

    transition-duration: 0.8s;
    transition-property: opacity;
}

.moodal.active {
    z-index: 1000;
    opacity: 1;
}

.moodal input {
    width: 100%;
    padding: 3px;
}

.profile_thumbnail {
    height: 27px;
    border-radius: 50%;
    /* create border with background and 1px padding is way smoother than with 1px solid color */
    padding: 1px;
    background: #fff;
    width: auto;
}

.header-bar .user {
    margin: 0 10px 0;
    float: left;
    position: relative;
    cursor: pointer;
}

.header-bar .user.active {
    border-right: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .1);
}

.header-bar .user a {
    margin: 0 2px 0;
    padding: 0 5px;
}

.header-bar .user .user-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    min-width: 120px;
}

.header-bar .user ul.user-dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-bar .user ul.user-dropdown li {
    padding: 5px 10px;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, .2);

    background-color: #33c4b7;
    color: white;
}

.header-bar .arrow {
    position: absolute;
    background-color: #33c4b7;
    height: 10px;
    width: 10px;
    webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 50%;
    margin-left: -5px;
}

.header-bar .messenger-popover .arrow {
    right: 17px;
    left: inherit;
}

.header-bar .user ul.user-dropdown li.active {
    background-color: #33c4b7;
    color: white;
}

.header-bar .messenger {
    position: relative;
}

.header-bar .messenger ul.messenger-popover {
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 0px;
    background-color: #33c4b7;
    width: 300px;
}

.header-bar .messenger ul.messenger-popover li {
    float: left;
    width: 100%;
    margin: 5px 0 0px;
    padding: 15px 25px;
    line-height: normal;
}

.header-bar .messenger ul.messenger-popover li:not(:last-child) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.header-bar .messenger ul.messenger-popover li img.profile {
    float: left;
    border-radius: 50%;
    width: 30px;
    height: auto;
    margin: 0 10px 0 0;
}

.header-bar .messenger ul.messenger-popover li .from {
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-bottom: 0;
}

.header-bar .messenger ul.messenger-popover li .message-teaser {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    float: left;
}

.moodal input {
    border-radius: 3px;
    border: 1px solid white;
    background: none;
    padding: 8px 13px;
    margin: 3px 0;
    color: white;
}

.moodal input::-webkit-input-placeholder {
    color: white;
}

.moodal a.submit {
    width: 100%;
    background: white;
    color: black;
    float: left;
    border-radius: 3px;
    padding: 8px 13px;
}

.moodal a.submit:hover {
    text-decoration: none;
}

.moodal .btn-grp-white a {
    color: white;
    width: 100%;
    float: left;
}

.pointer {
    cursor: pointer;
}

a.close-modal {
    float: right;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.welcome_search {
    width: 400px;
    margin: 0 auto;
}

.static-searchButton, .static-createButton {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 10000;
}

.static-createButton {
    background-color: #e95f44;
    right: 0;
}

.static-searchButton {
    background-color: #4ab8ab;
    left: 0;
}

.result {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.results-container.container {
    position: relative;
    padding-left: 15%;
    height: calc(100vh - 60px);
}

.results-container.loading .results {
    opacity: .2;
    z-index: -1;
}

.logo-small {
    height: 30px;
    margin-top: 13px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
}

@keyframes slidein {
    from {
        opacity: 1;
    }

    to {
        opacity: .2;
    }
}

.image-upload-modal {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    margin: -40vh -40vw;
    top: 50%;
    z-index: 999;
}

.image-upload-modal .controls {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.trip-image {
    width: 100%;
    height: 450px;
    background-image: url("../images/locator_tileable_pattern_20px.png");
    position: relative;
}

.trip-image .choose-image {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -100px;
    width: 200px;
    text-align: center;
}

.progressbar {
    position: absolute;
    z-index: 10000;
    left: 50vw;
    top: 40vh;
    margin: -50px 0 0 -50px;
}

.cyan {
    background-color: #33c4b7;
    color: white;
}

.header-bar .menu {
    margin-right: 10px;
}

.header-bar .menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

.header-bar .menu ul li {
    float: left;
    line-height: 60px;
    padding: 0 5px;
}

.header-bar .menu ul li img {
    height: 35px;
}

.header-bar .header-right {
    float: right
}

.statistic_container {
    position: relative;
    z-index: 1;
}

.modal-container {
    position: relative;
}

.header-bar-wrapper {
    position: relative;
    z-index: 1000;
}

.message-badge {
    width: 25px;
    height: 25px;
    position: absolute;
    background: darkred;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
}

.text-responsive {
    width: 100%;
}

textarea {
    resize: none;
}

#conversationModal textarea {
    min-height: 200px;
}

.moodal h3 {
    color: white;
}

.border-radius {
    border-radius: 50%;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    font-size: 18px;
}

.profile .input {
    width: 100%;
    background: none;
    border: 1px solid rgba(204, 204, 204, 1);
    background: rgba(204, 204, 204, 1);
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    transition-duration: 0.3s;
    line-height: 30px;
}

.profile.container {
    max-width: 550px;
    padding: 50px 15px;
}

.profile .startconversation {
    background-color: #33c4b7;
    color: white;
    width: 100%;
    text-align: center;
    float: left;
    padding: 10px;
    text-decoration: none;
}

.profile .save {
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: white;
    background-color: #ff4637;
    display: inline-block;
    width: 29px;
    border-radius: 50%;
}

.profile .save.submit {
    background-color: #33c4b7;
}

span.editbutton {
    font-size: 10px;
}

.trip-image a.choose-image.welcome_button {
    color: #000;
    border-color: #000;
    background: #fff;

}

.trip-image a.choose-image.welcome_button:hover {
    color: #fff;
    border-color: #000;
    background: #000;
}

.placeholder-tiles {
    background-image: url("../images/locator_tileable_pattern_20px.png");
}

.passwordforget {
    padding-top: 15px;
    float: left;
}

.login-wrapper {
    float: left;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.login-wrapper.show {
    opacity: 1;
}

a.forgotpw {
    text-align: center;
    float: left;
    width: 100%;
}

.error-msg {
    background-color: #ff4637;
}

.msg {
    color: white;
    border-radius: 3px;
    float: left;
    width: 100%;
    max-height: 0;
    transition: 0.35s linear all;
    overflow: hidden;
    padding: 0px 12px;
}

.success-msg {
    background-color: #33c4b7;
}

.msg.open {
    padding: 11px 12px;
    margin: 3px 0;
    max-height: 60px;
}

.moodal .btn-grp-white {
    float: left;
    padding-top: 40px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(0, 21, 0) inset;

    background-color: none !important;
    background-image: none !important;

}

.profile-label {
    margin-top: 15px;
    margin-bottom: 0;
}

.profile-button {
    text-decoration: none !important;
    padding: 5px;
    text-align: center;
    color: rgb(31, 35, 35);
    border-radius: 3px;
}

.user-form label {
    margin-top: 10px;
    margin-bottom: 0;
}

.profile-button.active {
    background: rgb(31, 35, 35);
    color: white;
}

.header-image-container {
    height: 450px;
}

@media screen and (min-height: 850px) {
    .header-image-container {
        height: 700px;
    }
}

.header-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.passwordforget:not(.show) {
    display: none;
}

.profile .userheader h2 {
    padding-bottom: 30px;
}

.mytrips-container .trip .inner {
    border: 1px solid rgb(193, 195, 195);
    padding: 15px;
}

.usermenu {
    padding-bottom: 20px;
}

.mytrips-container .trip-mood-icon {
    height: 30px;
    width: auto;
}

.mytrips-container .trip-mood-container {
    text-align: right;
    padding-top: 20px;
}

.cropper-container .cropper-face {
    border-radius: 50%;
}

.steffencontainer {
    background-color: rgba(228, 101, 101, 0.83);
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    max-width: 600px;
}

.steffencontainer h3 {
    text-align: center;
    text-transform: uppercase;
}

.usermenu .error-msg {
    background-color: #ff4637;
    float: left;
    width: 100%;
    padding: 15px;
    color: white;
    margin: 20px 0;
    margin-bottom: 0;
    border-radius: 3px;
}

.usermenu .success-msg {
    background-color: #33c4b7;
}

.profile .account input {
    border: 1px solid rgba(204, 204, 204, 1);
}

.profile .editable .input {
    border: 1px solid #33C4B7;
    background-color: rgba(51, 196, 183, 0.08);
}
/*
.profile .editable .input.ng-dirty {
    border: 1px solid #ff4637;
    background-color: rgba(255, 70, 55, 0.19);
}*/

.container.content-width {
    max-width: 770px;
}
