* {
    font-family: 'Signika', Helvetica neue, Arial;
    outline: none;
    word-wrap: break-word;
}

html {
    overflow-y: scroll;
}

body {
    background: #f5f5f5;
    background-image: url('../images/background-patterns/debut_light_hell.png');
    font-weight: 300;
}

.opener h2 {
    font-family: 'Signika', Helvetica neue, Arial;
    font-weight: 100;
}

.fullsize {
    min-height: 100vh;
}

.absolute-slider {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    max-heigth: 100vh;
    z-index: -1;
}

.absolute-slider li {
    list-style: none;
}

.relative {
    position: relative;
}

.flexslider {
    border: 0;
    overflow: hidden;
    height: 100vh;
}

.fullsize.opener {
    overflow: hidden;
}

.logo {
    border-radius: 300px;
    max-height: 200px;
}

.center {
    text-align: center;
}

.flex-control-nav {
    bottom: 50px;
    z-index: 10;
}

.absolute-front {
    z-index: 100;
    position: absolute;
    float: left;
    width: 100%;
    padding-top: 80px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modus-container {
    position: relative;
    height: 50vh;
}

.local-container {
    background-color: #b0c4de
}

.opener .flex-direction-nav {
    display: none;
}

.opener h2 u {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-decoration: none;
}

.opener .headline {
    margin-bottom: 20px;
}

.opener .slides img {
    height: 100vh;
    width: 100vw;
}

#results .trip-img {
    height: 100%;
    width: 100%;
}

#results .trip {
    min-height: 300px;
    background-size: cover;
    border: 15px solid white;
}

#results .trip .caption {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
}

.mood {
    min-height: 170px;
    background: black;
    border: 15px solid white;
    cursor: pointer;

    transition-duration: 0.7s;
}

.mood.selected {
    background: green;
}

.mood.excluded {
    opacity: 0.5;
}

.mood h3 {
    color: white;
    text-align: center;
}

.tripler {
    background-color: #f7e1b5;
}

body.no-scroll {
    overflow: hidden;
}

body.slider {
    background: none;
}

#specificTrip {
    background: orange;
}

.trip .trip-image {
    width: 100%;
}

.trip-img-wrapper {
    width: 100%;
    float: left;
    overflow: hidden;
    max-height: 600px;
}

.tripwrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-fluid .container {
    padding-left: 0px;
    padding-right: 0px;
}

/* new home */
.home-searchbar {
    width: 100%;
    position: absolute;
    bottom: 170px;
    left: 0;
    z-index: 99;
}

.home-searchbar .search .white {
    color: #fff;
}

.home-searchbar .search .padding-top {
    padding: 15px 0 0 0;
}

.home-searchbar .search {
    width: 80%;
    float: left;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-left: none;
    font-size: 16px;
    font-weight: 400;
}

.home-searchbar .search .search-arrow-left {
    float: left;
}

.home-searchbar .search .search-button-right {
    background: #fff;
    height: 58px;
    width: 128px;
    float: right;
}

.home-searchbar .search .search-range-slider {
    height: 58px;
    width: 255px;
    float: right;
    margin: 0 15px 0 0;
}

.home-searchbar .search .search-date-button {
    background: #fff;
    height: 58px;
    width: 60px;
    float: right;
    margin: 0 15px 0 0;
}

.home-searchbar .create {
    float: right;

}

.input-city, .input-city:focus {
    background: none;
    border: none;
    outline: none;
}

.logo {
    width: 100%;
    margin: 0 auto;
}

.logo .home-logo {
    width: 155px;
    margin: 50px auto;
}

.input-city::-webkit-input-placeholder {
    color: #fff;
}

.input-city::-moz-placeholder {
    color: #fff;
}

/* firefox 19+ */
.input-city:-ms-input-placeholder {
    color: #fff;
}

/* ie */
.input-city:-moz-placeholder {
    color: #fff;
}

.header-bar {
    width: 100%;
    float: left;
}

.header-bar .btn-group {
    float: left;
    min-height: 45px;
}

.header-bar .btn-group a {
    color: #fff;
    line-height: 45px;
}

.header-bar .btn-group a:hover {
    text-decoration: none;
    cursor: pointer;
}

a.padding {
    padding: 5px;
    margin: 0 5px;
}

.result {
    float: left;
    width: 100%;
}

ul.slides {
    float: left;
    width: 100%;
    height: 100%;
}

.img-slide {
    float: left;
    width: 100%;
    height: 100%;
}

.slides li {
    float: left;
    width: 100%;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    transition-duration: 1s;
    z-index: -1;
    top: 0;
}

.blackopac {
    background: rgba(34, 34, 34, 0.9);
}

.overlay.active {
    opacity: 1;
    display: block;
    z-index: 999;
}

.moodal {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 120px;
    margin-left: -150px;
    margin-top: -150px;
    opacity: 0;
    visibility: hidden;

    transition-duration: 0.8s;
    transition-property: opacity;
}

.moodal.active {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
}

.moodal input {
    width: 100%;
    padding: 3px;
}

.profile_thumbnail {
    height: 27px;
    border-radius: 50%;
    /* create border with background and 1px padding is way smoother than with 1px solid color */
    padding: 1px;
    background: #fff;
    width: auto;
}

.header-bar .user {
    margin: 0 10px 0;
    float: left;
    position: relative;
    cursor: pointer;
}

.header-bar .user.active {
    border-right: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .1);
}

.header-bar .user a {
    margin: 0 2px 0;
    padding: 0 5px;
}

.header-bar .user .user-dropdown {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    z-index: 10000;
    min-width: 120px;
}

.header-bar .user ul.user-dropdown {
    padding: 0;
    list-style: none;
}

.header-bar .user ul.user-dropdown li {
    padding: 5px 10px;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, .2);

    background-color: #33c4b7;
    color: white;
}

.header-bar .arrow {
    position: absolute;
    background-color: #33c4b7;
    height: 10px;
    width: 10px;
    webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 50%;
    margin-left: -5px;
}

.header-bar .messenger-popover .arrow {
    right: 17px;
    left: inherit;
}

.header-bar .user ul.user-dropdown li.active {
    background-color: #33c4b7;
    color: white;
}

.header-bar .messenger {
    position: relative;
}

.header-bar .messenger ul.messenger-popover {
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 0px;
    background-color: #33c4b7;
    width: 300px;
}

.header-bar .messenger ul.messenger-popover li {
    float: left;
    width: 100%;
    margin: 5px 0 0px;
    padding: 15px 25px;
    line-height: normal;
}

.header-bar .messenger ul.messenger-popover li.unread {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-bar .messenger ul.messenger-popover li:not(:last-child) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.header-bar .messenger ul.messenger-popover li img.profile {
    float: left;
    border-radius: 50%;
    width: 30px;
    height: auto;
    margin: 0 10px 0 0;
}

.header-bar .messenger ul.messenger-popover li .from {
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-bottom: 0;
}

.header-bar .messenger ul.messenger-popover li .message-teaser {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    float: left;
}

.moodal input {
    border-radius: 3px;
    border: 1px solid white;
    background: none;
    padding: 8px 13px;
    margin: 3px 0;
    color: white;
}

.moodal input::-webkit-input-placeholder {
    color: white;
}

.moodal a.submit {
    width: 100%;
    background: white;
    color: black;
    float: left;
    border-radius: 3px;
    padding: 8px 13px;
}

.moodal a.submit:hover {
    text-decoration: none;
}

.moodal .btn-grp-white a {
    color: white;
    width: 100%;
    float: left;
}

.pointer {
    cursor: pointer;
}

a.close-modal {
    float: right;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.welcome_search {
    width: 400px;
    margin: 0 auto;
}

.static-searchButton, .static-createButton {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 500;
    top: 150px;
    cursor: pointer;
}

.static-createButton {
    background-color: #e95f44;
    right: 0;
}

.static-searchButton {
    background-color: #4ab8ab;
    left: 0;
}

.result {
    opacity: 1;
    transition: opacity 0.2s ease-out;

}

.results-container.container {
    position: relative;
    min-height: calc(100vh - 40px);
    margin-top: 100px;
    margin-bottom: 30px;
}

.results-container .welcome_select {
    right: auto;
    width: auto;
}

.results-container .welcome_select ul {
    top: 210px;
    background-color: #33c4b7;
    text-align: left;
}

.results-container .welcome_select .greenresult-content-wrapper {
    margin-right: 8px;
}

.results-container.loading .results {
    opacity: .2;
    z-index: -1;
}

.logo-small {
    height: 60px;
    background-color: rgb(17, 17, 17);
    position: absolute;
    border-bottom-right-radius: 5px;
    padding: 11px;
    left: 0;
    top: 0;
}

@keyframes slidein {
    from {
        opacity: 1;
    }

    to {
        opacity: .2;
    }
}

.image-upload-modal {
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    margin: -40vh -40vw;
    top: 50%;
    z-index: 999;
}

.image-upload-modal .cropper-bg {
    background-image: none !important;
}

.image-upload-modal .controls {
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.image-upload-modal .controls .btns {
    display: block;
    margin: 10px auto;
    width: 300px;
    text-align: center;

}

.image-upload-modal .controls .btn {
    background: #ff4637;
    color: #fff;
}

.trip-image {
    width: 100%;
    height: 450px;
    background-image: url("../images/locator_tileable_pattern_20px.png");
    position: relative;
}

.trip-image .choose-image {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -100px;
    width: 200px;
    text-align: center;
}

.progressbar .ng-hide {
    overflow: hidden;
    height: 0;
}

.progressbar {
    position: absolute;
    z-index: 10000;
    left: 50vw;
    top: 40vh;
    margin: -50px 0 0 -50px;
}

.cyan {
    background-color: #33c4b7;
    color: white;
}

.header-bar .menu {
    margin-right: 10px;
}

.header-bar .menu ul {
    list-style: none;
    float: left;
    margin: 1px 0 0 0;
    padding: 0;
}

.header-bar .menu ul li {
    float: left;
    line-height: 40px;
    padding: 0 10px;
}

.header-bar .menu ul li img {
    height: 25px;
}

.header-bar .header-right {
    float: right;
    margin-right: 50px;
}

.statistic_container {
    position: relative;
    z-index: 1;
}

.modal-container {
    position: relative;
}

.header-bar-wrapper {
    position: relative;
    z-index: 1000;
}

.message-badge {
    width: 12px;
    height: 12px;
    position: absolute;
    background: #33c4b7;
    border-radius: 50%;
    text-align: center;
    right: 8px;
    top: 8px;
}

.text-responsive {
    width: 100%;
}

textarea {
    resize: none;
}

#conversationModal textarea {
    min-height: 200px;
}

.moodal h3 {
    color: white;
}

.border-radius {
    border-radius: 50%;
}

.small-border-radius {
    border-radius: 3px;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.content-header .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-top: -75px;
    position: absolute;
    z-index: 10;
}

.content-header {
    float: left;
    width: 100%;
    /*margin-bottom: 30px;*/
    min-height: 75px;
}

.content-header .moods {
    float: right;
}

.content-header .moods .add-mood {
    float: right;
    cursor: pointer;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    font-size: 18px;
}

.profile .input {
    width: 100%;
    background: none;
    border: 1px solid rgba(204, 204, 204, 1);
    background: rgba(34, 34, 34, 0.1);
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    transition-duration: 0.3s;
    line-height: 30px;
    font-size: 14px;
}

.profile .description {
    line-height: 20px;
    padding: 10px;
}

.profile ::-webkit-input-placeholder {
    color: rgba(166, 166, 166, 1);
}

.profile.container {
    max-width: 550px;
    padding: 30px 15px;
}

.profile .startconversation {
    background-color: #33c4b7;
    color: white;
    width: 100%;
    text-align: center;
    float: left;
    padding: 10px;
    text-decoration: none;
}

.profile .save {
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: white;
    background-color: #ff4637;
    display: inline-block;
    width: 29px;
    border-radius: 50%;
}

.profile .save.submit {
    background-color: #33c4b7;
}

.profile .save.reset.submit {
    background-color: #ff4637;
}

span.editbutton {
    font-size: 10px;
}

.trip-image a.choose-image.welcome_button {
    color: #000;
    border-color: #000;
    background: #fff;

}

.trip-image a.choose-image.welcome_button:hover {
    color: #fff;
    border-color: #000;
    background: #000;
}

.placeholder-tiles {
    background-image: url("../images/locator_tileable_pattern_20px.png");
}

.passwordforget {
    padding-top: 15px;
    float: left;
}

.login-wrapper {
    float: left;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.login-wrapper.show {
    opacity: 1;
}

a.forgotpw {
    text-align: center;
    float: left;
    width: 100%;
}

.error-msg {
    background-color: #ff4637;
}

.msg {
    color: white;
    border-radius: 3px;
    float: left;
    width: 100%;
    max-height: 0;
    transition: 0.35s linear all;
    overflow: hidden;
    padding: 0px 12px;
}

.success-msg {
    background-color: #33c4b7;
}

.msg.open {
    padding: 11px 12px;
    margin: 3px 0;
    max-height: 60px;
}

.moodal .btn-grp-white {
    float: left;
    padding-top: 40px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(0, 21, 0) inset;

    background-color: none !important;
    background-image: none !important;

}

.profile-label {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
}

.profile-button {
    text-decoration: none !important;
    padding: 5px;
    text-align: center;
    color: rgb(31, 35, 35);
    border-radius: 3px;
}

.user-form label {
    margin-top: 10px;
    margin-bottom: 0;
}
.user-form [contenteditable] {
    min-height: 100px;
}

.profile-button.active {
    background: rgb(31, 35, 35);
    color: white;
}

.header-image-container .flexslider {
    float: none;
}

img-triplist .flexslider {
    height: 250px;
    margin: 0;
}

img-triplist .flex-direction-nav a::before {
    font-size: 34px;
    color: rgba(0, 0, 0, 0.5);
}

.header-image-container, .header-image-container .flexslider {
    height: calc(50vh - 40px);
}

.header-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}

trip-min-view .header-image {
    border-radius: 3px 0 0 3px;
}

.locationview-container .header-image {
    width: 100vw;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.passwordforget:not(.show) {
    display: none;
}

.profile .userheader h2 {
    padding-bottom: 30px;
}

.mytrips-container .trip .inner {
    border: 1px solid rgb(193, 195, 195);
    padding: 15px;
}

.usermenu {
    padding-bottom: 20px;
}

.mytrips-container .trip-mood-icon {
    height: 30px;
    width: auto;
}

.mytrips-container .trip-mood-container {
    text-align: right;
    padding-top: 20px;
}

.mylocations-container h2 {
    margin-top: 10px;
}

.profile .cropper-container .cropper-face {
    border-radius: 50%;
}

.steffencontainer {
    background-color: rgba(228, 101, 101, 0.83);
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    max-width: 600px;
}

.steffencontainer h3 {
    text-align: center;
    text-transform: uppercase;
}

.usermenu .error-msg {
    background-color: #ff4637;
    float: left;
    width: 100%;
    padding: 15px;
    color: white;
    margin: 20px 0;
    margin-bottom: 0;
    border-radius: 3px;
}

.usermenu .success-msg {
    background-color: #33c4b7;
}

.profile .account input {
    border: 1px solid rgba(204, 204, 204, 1);
}

.profile .editable .input {
    border: 1px solid #33C4B7;
    background-color: rgba(51, 196, 183, 0.08);
}

.account .editable .input {
    border: 1px solid #33C4B7;
    background-color: rgba(51, 196, 183, 0.08);
}

/*
.profile .editable .input.ng-dirty {
    border: 1px solid #ff4637;
    background-color: rgba(255, 70, 55, 0.19);
}*/

.container.content-width {
    max-width: 900px;
}

.margin-right {
    margin-right: 100px;
}

.not-available {
    opacity: 0.5;
}

.locator-btn {
    padding: 11px 22px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
}

.save-btn {
    background-color: #ff4637;
}

.cancel-btn {
    background-color: #343434;
}

.empty-locations {
    background-color: #33c4b7;
    padding: 5px;
    text-align: center;
    color: white;

    margin-bottom: 15px;
    margin-top: 5px;
}

.empty-locations a {
    color: white;
}

.empty-locations img {
    margin-right: 5px;
    height: 40px;
}

a:focus {
    outline: none;
}

.big-progress, .big-progress {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 0;
    bottom: 0;
    transition: all 1s;
    content: ' ';
}
svg .st0 {
    fill: none;
    stroke: rgba(255,255,255,.4);
    stroke-width: 40;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1430;
}
svg#Ebene_1, svg#Ebene_2 {
    width: 190px;
    position: absolute;
    left: 50%;
    margin: 33vh 0 0 -95px;
}
svg#Ebene_1 {
    z-index: 9991;
}
svg#Ebene_1 .st0 {
    stroke: #fff;
}
.big-progress, .span {
    text-align: center;
    color: #000;
    font-size: 50px;
}

.description {
    font-size: 14px;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #D5D5D5;
    border-radius: 60px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #33c4b7;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 34px;
}

.switch {
    float: left;
    position: relative;
}

.switch [type=checkbox] {
    visibility: hidden;
}

.float-left {
    float: left;
}

.action-buttons .action-button img {
    width: 35px;
    float: left;
}

.mylocations-container .action-buttons {
    float: right;
}

.action-buttons .delete-message {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    text-align: center;
    padding: 9px;
}

.action-buttons .delete-message .button {
    text-align: center;
    color: black;
    text-decoration: none;
    color: white;
}

.action-buttons .delete-message .button.red {
    text-align: center;
    background-color: #ff4637;
}

.action-buttons .delete-message p {
    font-size: 14px;
}

.icon-wrapper {
    width: 100%;
    height: 100%;
}

.image-too-large {
    color: #fff;
    text-align: center;
}

.image-too-large h1 {
    font-size: 55px;
    font-weight: bold;
}

.image-too-large p {
    font-size: 18px;
}

.image-too-large .moodal {
    width: 60vw;
    margin-left: -30vw;
}

.image-too-large .moodal-content {
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 22px;
}

.fixed.header-bar-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
}

progress-arc.hidden-height {
    overflow: hidden;
    height: 0;
}

.mylocations-container {
    float: left;
    width: 100%;
}

.fixed-bar {
    position: fixed;
    width: 100%;
    top: 0;
}

.relative.bar-wrapper {
    z-index: 100;
}

.fixed-bar .blackopac {
    position: relative;
}

.uiview {
    margin-top: 40px;
}

.footer {
    background: rgb(34, 34, 34);
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer .footer_logo {
    width: 140px;
}

.footer a {
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
}

.footer ul {
    float: left;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 0;
}

.footer ul li {
    padding: 20px;
    display: inline-block;
}

.footer img.social {
    height: 18px;
    width: auto;
    margin-right: 5px;
    margin-top: -2px;
}

.social-wrapper {
    text-align: center;
    float: left;
    width: 100%;
}

.footer .separator {
    background: #ff4637;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer h4 {
    font-weight: 100;
    margin-top: 20px;
    font-size: 15px;
    line-height: 21px;
}

.footer a:hover {
    text-decoration: none;
    color: #ff4637;
}

.search-container .welcome_select ul {
    top: 50px;
    background-color: #33c4b7;
    text-align: left;
    transform: translateY(0%) scale(1) !important;
}

.footer .footer_logo {
    display: inline-block;
}

.htwg_logo {
    width: 180px;
    margin-top: 26px;
    float: right;
}

.border-wrapper::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.border-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    width: 5px;
    border-radius: 3px;
}

.locator-scroller::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.locator-scroller::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    width: 5px;
    border-radius: 3px;
}

.img-responsive-height {
    height: 100%;
    width: auto;
}

.light-grey {
    background-color: rgba(0, 0, 0, .2);
}

.mylocations-container .wrapper {
    float: left;
    width: 100%;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 3px;
}

.mytrips-container .tripsmall {
    padding-bottom: 15px;
}
.half-viewport-height {
            min-height: 50vh;
}
.header-bar li.not-authenticated {
    display: none;
}
.edit-overlay {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.edit-overlay:hover.upload-hint::before {
    content: ' ';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,.4);
    cursor: pointer;
}

.edit-overlay:hover.upload-hint::after {
    content: 'Foto hochladen';
    color: #fff;
    width: 100%;
    left: 0;
    top: 42%;
    position: absolute;
    cursor: pointer;
}

h2.breadcrumbs {
    padding: 0;
    margin: 0;
    margin-left: 100px;
    font-size: 12px;
    color: white;
    line-height: 45px;
    float: left;
}

.switch-wrapper {
    float: left;
}

.action-button {
    float: left;
}


h2 {
    font-size: 27px;
    font-weight: 400;
}

h2.page-headline {
    margin-top: 30px;
}

h3 {
    font-weight: 400;
    font-size: 25px;
}

::-webkit-input-placeholder  {
    color: rgb(163, 163, 163) !important;
    font-weight: 300 !important;
    font-size: 14px;
}


label {
    font-size: 14px;
}

input.error, textarea.error {
    border-color: #ff4637 !important;
}

.bigger-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    opacity: 0.9;
}

.opened .bigger-button {
    left: 5px;
    top: 5px;

    height: 30px;
}
