.trip-info h5 {
    color: #ff4637;
}

.general-trip-info p {
    color: #ff4637;
}

.trip-mood-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.message-button {
    margin-top: -25px;
    width: 180px;
    height: 50px;
    background: #ff4637;
    z-index: 10;
    position: relative;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: relative;
}

.trip-mood-container {
    padding-top: 50px;
    position: relative;
}

.btn-mood-container {
    float: right;
}

.trip-container .profile-image {
    float: left;
    margin-bottom: 0;
    margin-top: -75px;
}

.trip-container .message-button {
    margin-top: -25px;
}
