.trip-info h5 {
    color: #ff4637;
}

.general-trip-info p {
    color: #ff4637;
}

.trip-mood-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;

}

.message-button {
    width: 260px;
    height: 50px;
    background: #33c4b7;
    z-index: 10;
    position: relative;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: relative;
    border-radius: 3px 3px 0px 0px;
    float: right;
    display: inline-block;
    font-size: 24px;
}

.trip-mood-container {
    position: relative;
    display: inline-block;
    z-index: 10;
    /* margin-left: -60px; */
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background: rgb(34, 34, 34);
    border-radius: 3px 3px 0px 0px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-left: 10px; */
}

.btn-mood-container {
    margin-top: -50px;
    float: right;
}

.trip-locations-wrapper .location{
    float: left;
    width: 100%;
    background: white;
    padding: 4px;
    overflow: hidden;
    margin-bottom: 5px;
    min-height: 110px;
}

.trip-location-container .content-wrapper {
    max-height: 100px;
}

.trip-info-container {
    padding-bottom: 20px;
}

.trip-info-container .fix-position-left {
    position: relative;
    left: 150px;
}

.insert-trip-container .trip-icon {
    margin-left: auto;
    margin-right: auto;
    background-size: 173px 139px;
    width: 173px;
    height: 139px;
    z-index: 10;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
}

.insert-trip-container .accommodation-equipment-wrapper {
    margin-left: -16px;
    margin-top: -25px;
}

