.tt {
    position: relative;
}
.tt:hover:before, .tt:hover:after, .tt:active:before, .tt:active:after, .tt:focus:before, .tt:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tt-small:hover:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8);
}
.tt:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tt:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tt-small:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    top: 100%;
    right: 50%;
    margin-top: 5px;
}

.submit-btn.submit-progress {
    position: relative;
    float: left;
}
.submit-btn.submit-progress::after {
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    transition: width 1s, background-color 1s;
    background-color: rgba(51,196,183, 0.5) !important;
    border-radius: 2px;
}
.running.submit-progress::after {
    content: '';
    width: 100%;
    background-color: rgba(51,196,183, 1)!important;
}
