
.welcome_select div ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #76C3BD;
    transform: translateY(-40%) scale(0.9);
    transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    z-index: 1000;
    display: block;

    max-height: 400px;
    overflow-y: auto;
}

.welcome_select .open ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
    min-width: 200px;
}

.welcome_select {
    font-size: 35px;
    color: white;
}

.welcome_select a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.welcome_select ul li {
    cursor: pointer;
    font-size: 20px;
}

span.margin-right {
    float: left;
    margin-right: 7px;
}

.welcome_container {
    padding-top: 110px;
}

a.welcome_button {
    background: none;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 20px;
    font-size: 25px;
    transition-duration: 0.2s;
    transition-delay: 0s !important;
}

a.welcome_button:hover {
    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.fullwidth {
    width: 100%;
    float: left;
}

.welcome_select {
    float: left;
}

.welcome_button {
    float: left;
}

.welcome_button_wrapper {
    padding-top: 20px;
}

.welcome_select .remove_item {
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
}

.welcome_logo {
    max-width: 100%;
    width: 250px;
}

.row.select_wrapper {
    padding-top: 100px;
}

.welcome_container {
    min-height: calc(100vh - 60px);
    overflow: hidden;
    padding-bottom: 50px;
}

.welcome_logo {
    transition-duration: 0.3s;
    opacity: 0;
}

.welcome_logo.visible {
    opacity: 1;
}

.welcome_container .opener .welcome_wrapper {
    float: left;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 1s;
}

.welcome_container .opener.show .welcome_wrapper {
    opacity: 1;
}

.welcome_container .opener a.welcome_button {
    opacity: 0;
}

.welcome_container .opener.show a.welcome_button {
    opacity: 1;
}

.welcome_wrapper {
    margin: 0 auto;
    float: left;
    left: 50%;
    position: relative;
}

.welcome_select {
    float: left;
    position: relative;
    right: 50%;
    width: 320px;
}

.welcome_select .selection {
    float: left;
}

.statistic_container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.statistic_container .statistic-item {
    padding-left: 30px;
    padding-right: 30px;
}

.topuser h3 {
    margin-top: 0;
}

.topuser .profile_thumbnail {
    height: 65px;
}

.topuser .thumb {
    float: left;
}

.user-entry {
    float: left;
    margin: 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(32, 163, 152);
    padding: 15px;
    border-radius: 10px;

}

/*.user-entry:not(:last-child) {
    border-bottom: 1px solid rgb(33, 78, 79);
}*/

.list-selection {
    float: left;
}

.text-wrapper {
    float: left;
}

span.green {
    float: left;
    background-color: rgb(65, 191, 180);
    padding: 3px 5px;
    margin: 5px 0;
}

span.red {
    float: left;
    background: rgb(241, 100, 73);
    padding: 3px 5px;
    margin: 5px 0;
}

h2#sub-headline {
    color: white;
    text-transform: lowercase;
    font-size: 24px;
    margin-top: 5px;
}
