
.welcome_select div ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(-40%) scale(0.9);
    transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
    text-decoration: none;
    list-style-type: none;
    padding: 8px;
    z-index: 1000;
    display: block;
    background-color: #33c4b7;
    padding: 0;
    overflow-y: auto;
    left: 0;
    width: 100%;
    border-radius: 3px;
}

.createview .welcome_select ul {
    background: #ff4637;
    border-radius: 3px;
}

.welcome_select .open ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.welcome_select ul {
    min-width: 220px;
}

.welcome_select {
    color: white;
    font-size: 30px;
}

.welcome_select a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.welcome_select ul li {
    cursor: pointer;
    padding: 3px 10px;
    font-size: 18px;
}

span.margin-right {
    float: left;
    margin-right: 7px;
    font-weight: 100;
}

.welcome_container {
    padding-top: 110px;
}

a.welcome_button {
    background: none;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 6px 20px;
    font-size: 25px;
    transition-duration: 0.2s;
    transition-delay: 0s !important;
}

a.welcome_button:hover {
    color: white;
}

.searchview a.welcome_button:hover {
    background-color: #33c4b7;
}

.createview a.welcome_button:hover {
    background-color: #ff4637;
}

.fullwidth {
    width: 100%;
    float: left;
}

.welcome_select {
    float: left;
}

.welcome_button {
    float: left;
}

.welcome_button_wrapper {
    padding-top: 20px;
}

.welcome_select .remove_item {
    margin-left: 10px;
    cursor: pointer;
    font-size: 10px;
}

.welcome_logo {
    max-width: 100%;
    width: 250px;
}

.row.select_wrapper {
    padding-top: 100px;
}

.welcome_container {
    min-height: calc(100vh - 45px);
    overflow: hidden;
    padding-bottom: 50px;
}

.logocontainer {
    transition-duration: 0.3s;
    opacity: 0;
}

.logocontainer.visible {
    opacity: 1;
}

.welcome_container .opener .welcome_wrapper {
    float: left;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 1s;
    padding-right: 45px;
}

.createview .welcome_wrapper {
    padding-left: 45px;
    padding-right: 15px;
}

.welcome_container .opener.show .welcome_wrapper {
    opacity: 1;
}

.welcome_container .opener a.welcome_button {
    opacity: 0;
}

.welcome_container .opener.show a.welcome_button {
    opacity: 1;
    border-radius: 3px;
}

.welcome_wrapper {
    margin: 0 auto;
    float: left;
    position: relative;
}

.welcome_select {
    float: left;
    position: relative;
    width: 100%;
}

.searchview span.green, .searchview .welcome_button {
    float: right;
}

.welcome_select .selection {
    float: left;
}

.statistic_container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.statistic_container .statistic-item {
    padding-left: 30px;
    padding-right: 30px;
}

.topuser h3 {
    margin-top: 0;
}

.topuser .profile_thumbnail {
    height: 65px;
}

.topuser .thumb {
    float: left;
}

.user-entry {
    float: left;
    margin: 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #33c4b7;
    padding: 15px;
    border-radius: 10px;

}

/*.user-entry:not(:last-child) {
    border-bottom: 1px solid rgb(33, 78, 79);
}*/

.list-selection {
    float: left;
}

.text-wrapper {
    float: left;
    max-width: 350px;
    width: 100%;
}

.searchview .text-wrapper {
    float: right;
}

span.green {
    float: left;
    background-color: #33c4b7;
    padding: 4px 10px;
    margin: 5px 0;
    border-radius: 3px;
}

span.red {
    float: left;
    background-color: #ff4637;
    padding: 4px 10px;
    margin: 5px 0;
    border-radius: 3px;
}

h2#sub-headline {
    color: white;
    text-transform: lowercase;
    font-size: 24px;
    margin-top: 5px;
}

.welcome_wrapper .list-selection a {
    float: left;
}

.welcome-half {
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
}

.welcome-left {
    left: 0
}

.welcome-right {
    right: 0;
}

a.more-link {
    text-decoration: underline;
}

a.more-link:hover {
    text-decoration: none;
}

.not-selectable a {
    text-decoration: none;
    cursor: initial;
}

.welcome_select .list-icon {
    height: 29px;
    margin-right: 5px;
    width: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.opener h2 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
    background-color: rgb(34, 34, 34);
    padding: 10px;
}

.welcome_select ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.feedback input[type="text"] {
    width: 100%;
    background-color: #f3f3f3;
    height: 48px;
    border: 1px solid #e6e6e6;
    line-height: 48px;
}

.feedback textarea {
    background-color: #f3f3f3;
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 10px 15px;
}

.feedback-submit {
    color: white;
    background: #343434;
    border: 1px solid #343434;
    margin-top: 5px;
}

.feedback-submit:hover {
    background-color: #ff4637;
    border: 1px solid #ff4637;
    color: white;
}

.feedback input {
    font-family: 'Signika', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    border-radius: 3px;
    outline: 0;
    display: block;
    max-width: 100%;
    padding: 6px 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    background: transparent;
    color: #808080;
    -webkit-transition: all 0.2s
}

.feedback textarea {
    border-radius: 3px;
}

.success-feedback {
    text-align: center;
}

.welcome-wrapper {
    overflow: hidden;
    position: relative;
}

.welcome-wrapper .arrow-down {
    position: absolute;
    left: 50%;
    bottom: -1px;
    margin-left: -28px;
    width: 56px;
}

.welcome-wrapper .help {
    width: 50%;
    height: calc(100vh - 40px);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 30px 45px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    overflow-x: hidden;
}

.welcome-wrapper .help.search {
    background-color: #33c4b7;
    left: -50vw;
}

.welcome-wrapper .help.create {
    background-color: #ff4637;
    right: -50vw;
}

.welcome-wrapper .help.search.showup {
    left: 0;
}

.welcome-wrapper .help.create.showup {
    right: 0;
}

.welcome-wrapper .close-button.right {
    float: right;
    height: 20px;
    margin-top: 16px;
}

.welcome-wrapper .separator {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: calc(100% + 30px);
    float: left;
    margin-left: -15px;
    margin-bottom: 30px;
}

.welcome-wrapper .separator.second {
    margin-top: 30px;
}

.welcome-wrapper .help h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.help p {
    font-weight: 400;
    font-size: 16px;
}

.help-item {
    line-height: 80px;
}

.help-item .help-icon {
    height: 80px;
    margin-right: 15px;
}

.welcome-wrapper .right .help-icon, .welcome-wrapper .right span {
    float: right;
}

.welcome-wrapper .right .help-icon {
    margin-left: 15px;
    margin-right: 0;
}

.help p {
    font-size: 18px;
}

.front-help-wrapper {
    float: left;
    padding-right: 10px;
}

.front-help-wrapper img {
    height: 15px;
}

.searchview .welcome_button_wrapper {
    float: right
}

.createview .welcome_button_wrapper {
    float: left;
}

.front-help-wrapper {
    padding: 7px 10px;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 14px;
    transition-duration: 0.3s;
}

.searchview .front-help-wrapper:hover {
    background-color: #33c4b7;
}

.createview .front-help-wrapper:hover {
    background-color: #ff4637;
}

.beta-badge {
    width: 150px;
    height: 150px;
    background-image: url(../images/stoerer.svg);
    background-size: 100%;
    padding: 25px;
    position: absolute;
    right: 160px;
    top: -50px;
}

.beta-badge h3 {
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.welcome-wrapper .bold {
    font-weight: 600;
}

.welcome_select .dropdown-arrow {
    padding-left: 5px;
}

.welcome_select span.title {
    float: left;
    text-decoration: underline;
    text-overflow: ellipsis;
    max-width: 295px;
    white-space: nowrap;
    overflow: hidden;
}

.welcome_container .createview .welcome_wrapper {
    padding-right: 15px;
}

.onepage-container .edittrip-container, .onepage-container .myLocations {
    float: left;
    width: 100%;
}

.latest-locations .location {
    margin-top: 15px;
    overflow: hidden;
    border-radius: 3px;
    border: 4px solid white;
}

.latest-locations .location .content {
    position: absolute;
    top: calc(100% - 25px);
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    padding: 8px;
    padding-top: 2px;
    height: 115px;
}

.latest-locations .location:hover .content {
    top: 70px;
    background-color: rgba(255, 255, 255, 0.95);
}

.mobile .latest-locations .locations .content {
    top: calc(100% - 25px) !important;
}

.latest-locations .location img.full {
    width: 100%;
}

.latest-locations p.description {
    margin-bottom: 0;
    float: left;
    padding-top: 0;
    padding-left: 0;
    padding-right: 5px;
    line-height: 16px;
    max-height: 32px;
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
}

.latest-locations p.city {
    padding: 5px;
    float: left;
    width: 100%;
    margin-bottom: 0;

}

.latest-locations .welcome-location-title {
    padding-top: 5px;
    color: black;
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.latest-locations {
    float: left;
    width: 100%;
}

.latest-locations .tags {
    margin-top: 7px;
    float: left;
    font-size: 11px;
    width: 100%;
}

.latest-locations .city {
    float: left;
}

.latest-locations .tags .tag {
    float: left;
    background-color: rgb(34, 34, 34);
    padding: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
}

.onepage-container .welcome-feed-container {
    max-width: 1000px !important;
}

.welcome-feed-container .city-name {
    margin: 0;
    margin-bottom: 3px;
}

.welcome-feed-container .arrow-trigger {
    float: right;
    background-image: url(../images/icons/arrow_up.svg);
    background-repeat: no-repeat;
    height: 8px;
    width: 16px;
    margin-top: 3px;
    background-size: 100%;

}

.welcome-feed-container .location:hover .arrow-trigger {
    background-image: url(../images/icons/arrow_down.svg);
}

.location-padding {
    padding: 3px 10px;
}
