<div class="edittrip-container container" ng-controller="EditTripCtrl as et">
    <div class="height-wrapper">
        <div class="min-height-wrapper">
            <div class="row">
                <div ng-class="{'data-available': et.dataAvailable}" class="col-xs-12 searchbar welcome_select">


            <span class="relative red"><span class="margin-right">Du bietest</span>
                    <div class="list-selection"
                         list-selection multiple=false
                         values="et.days"
                         selected-model="et.selectedDay" selected-name="et.showDays"
                         open-element="mc.openElement"></div></span>

             <span class="relative red moods"><div icons="true" list-selection values="et.moods"
                                                   selected-model="et.selectedMood" selected-name="et.showMoods"
                                                   open-element="mc.openElement"></div></span>


             <span class="relative red"><span class="margin-right">in </span><div class="list-selection" list-selection
                                                                                  values="et.cities"
                                                                                  selected-model="et.selectedCity"
                                                                                  selected-name="et.showCities"
                                                                                  open-element="mc.openElement"></div></span>


                </div>
            </div>

            <div ng-class="{'data-available': et.dataAvailable}" class="visible-xs row fixrow" sticky>
                <div class="fixed-controls">
                    <div class="col-xs-5"><span scroll-to="select" offset="100" class="pointer red menu">wählen</span>
                    </div>
                    <div class="padding-left-0 padding-right-0 col-xs-5"><span scroll-to="selected" offset="100"
                                                                               class="pointer red menu">bereits gewählt</span>
                    </div>
                    <div class="col-xs-2"><span scroll-to="meta" offset="100"
                                                class="pointer red menu smallarrow"><img class="back-button"
                                                                                         src="images/icons/icons_stuff/slideshow_slider_rechts.svg"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 locationpool">
                        <h3 id="select">Locations auswählen</h3>

                        <div class="border-wrapper">

                            <div class="wrap">
                                <div class="trigger">
                                    <a ng-click="et.justShowMyLocations = false" class="pointer location-trigger"
                                       ng-class="{'active': !et.justShowMyLocations}">Alle</a> <a
                                    ng-click="et.justShowMyLocations = true"
                                    ng-class="{'active': et.justShowMyLocations}"
                                    class="pointer location-trigger">Meine</a>
                                </div>
                                <input ng-model-options="{debounce:300}" ng-model="et.locationSearch"
                                       placeholder="Suche"
                                       type="text"
                                       name="search">
                            </div>

                            <div ng-hide="et.justShowMyLocations" class="publiclocations-wrapper">

                                <div ng-if="!et.publicLocations.length"
                                     class="relative location public missing mylocations-wrapper">
                                    <h4>Leider gibt es noch keine öffentlichen Locations für <strong>{{et.selectedCity.title}}</strong>
                                    </h4>
                                </div>


                                <div
                                    ng-repeat="location in et.publicLocations | filter:et.locationSearch track by $index"
                                    ng-class="{'opened': location.opened}"
                                    class="relative location border-radius-decent">


                                    <div ng-include="'templates/editTrip/singleTrip.html'" include-replace></div>

                                </div>
                            </div>

                            <div ng-hide="!et.justShowMyLocations" class="mylocations-wrapper">

                                <div ng-if="!et.myLocations.length"
                                     class="relative location public missing mylocations-wrapper">
                                    <h4>Du hast noch keine Locations in <strong>{{et.selectedCity.title}}</strong></h4>
                                </div>


                                <div ng-repeat="location in et.myLocations track by $index"
                                     ng-class="{'opened': location.opened}"
                                     class="relative border-radius-decent location mylocation">


                                    <div ng-include="'templates/editTrip/singleTrip.html'" include-replace></div>

                                </div>
                            </div>
                        </div>
                        <a class="red button insert-location" analytics-on="click"
                           analytics-event="trip/createnewlocation" ng-click="et.createNewLocation()">Neue Location
                            erstellen</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 locationpool selectedlocations">

                        <h3 id="selected">Trip beinhaltet</h3>

                        <div ng-class="{'err' : et.error && et.selectedLocations.length === 0}" class="border-wrapper">


                            <div ng-if="!et.selectedLocations.length"
                                 class="relative location mylocation missing mylocations-wrapper">
                                <h4>Noch keine Locations ausgewählt</h4>
                            </div>


                            <div ng-repeat="location in et.selectedLocations track by $index"
                                 ng-class="{'opened': location.opened}"
                                 class="relative location mylocation">

                                <div ng-include="'templates/editTrip/selected-singleTrip.html'" include-replace></div>

                            </div>
                        </div>
                    </div>
                    <!-- row zu -->
                </div>
            </div>
            <div ng-class="{'accomodation': et.tripMeta.accommodation}" class="col-xs-12 col-sm-3 metadata">

                <h3 id="meta">Sonstiges</h3>

                <div class="border-wrapper">
                    <div ng-class="{'err' : et.error && !et.dateValid}" class="date meta-section">

                        <input type="hidden" ng-model="et.start_date" required/>
                        <input type="hidden" ng-model="et.end_date"/>
                        <datepicker ng-if="et.editDataAvailable" start-date-real="et.tripMeta.start_date"
                                    end-date-real="et.tripMeta.end_date"
                                    on-linked="et.datePickerOnLinked"></datepicker>
                        <datepicker ng-if="!et.editDataAvailable" start-date-real="et.tripMeta.start_date"
                                    end-date-real="et.tripMeta.end_date"
                                    on-linked="et.datePickerOnLinked"></datepicker>
                    </div>

                    <span class="separator"></span>

                    <div class="persons meta-section">

                        <span class="info">Anzahl personen</span>

                        <div class="insert-trip-circle" ng-click="et.setPersons(1)"
                             ng-class="{'insert-trip-circle-selected':  et.tripMeta.persons == 1}">1
                        </div>
                        <div class="insert-trip-circle" ng-click="et.setPersons(2)"
                             ng-class="{'insert-trip-circle-selected':  et.tripMeta.persons == 2}">2
                        </div>
                        <div class="insert-trip-circle" ng-click="et.setPersons(3)"
                             ng-class="{'insert-trip-circle-selected':  et.tripMeta.persons == 3}">3
                        </div>
                        <div class="insert-trip-circle" ng-click="et.setPersons(4)"
                             ng-class="{'insert-trip-circle-selected':  et.tripMeta.persons == 4}">4
                        </div>
                        <div class="insert-trip-circle" ng-click="et.setPersons(5)"
                             ng-class="{'insert-trip-circle-selected': et.tripMeta.persons == 5}">4+
                        </div>


                    </div>

                    <span class="separator"></span>

                    <div class="meta-section accomo">
                        <div id="accommodation" class="accommodation">
                            <span class="info">Übernachtung bei mir</span>


                            <div class="switch">
                                <input ng-if="et.tripMeta.accommodation" id="accomodation-selection" checked
                                       class="cmn-toggle cmn-toggle-round"
                                       ng-click="et.tripMeta.accommodation = !et.tripMeta.accommodation"
                                       type="checkbox">
                                <input ng-if="!et.tripMeta.accommodation" id="accomodation-selection"
                                       class="cmn-toggle cmn-toggle-round"
                                       ng-click="et.tripMeta.accommodation = !et.tripMeta.accommodation"
                                       type="checkbox">

                                <label for="accomodation-selection"></label>
                            </div>

                        </div>

                        <div class="accommodation-equipment fx-fade-down fx-speed-300"
                             ng-show="et.tripMeta.accommodation == true">
                            <span class="info">Angaben zur Unterkunft</span>
                            <acc-equ-chooser
                                accommodation-equipment-selectable="et.accommodationEquipmentSelectable"
                                just-show-selected="false"
                                accommodation-equipment="et.tripMeta.accommodation_equipment">
                            </acc-equ-chooser>
                        </div>
                    </div>


                </div>
                <a type="submit" class="red button next-button" ng-click="et.tripPreview()">Weiter</a>

            </div>

        </div>


    </div>


    <div ng-hide="!et.showPreview" id="tripviewpreview" class="row">
        <div class="col-xs-12"><h3>Übersicht</h3></div>


        <div class="top-wrapper">
            <div class="col-sm-9 slider">
                <flex-slider prev-text="" next-text="" class="static" direction-nav="true" slide="s in et.slides">
                    <li>
                        <div class="slide-image" style="background-image: url({{s}}); background-size: cover;"></div>
                    </li>
                </flex-slider>


            </div>

            <div ng-class="{'accomo' : et.tripMeta.accommodation}" class="infobox col-sm-3">

                <h3>{{et.tripMeta.title || 'Triptitel'}}</h3>

                <div class="daterange" ng-if="!(et.tripMeta.start_date && et.tripMeta.end_date)"><strong>Ohne
                    Datum</strong></div>

                <div class="daterange" ng-if="(et.tripMeta.start_date == et.tripMeta.end_date)"><strong>
                    <resultdate class="black" date="et.tripMeta.start_date"></resultdate>
                </strong></div>

                <div
                    ng-if="(et.tripMeta.start_date && et.tripMeta.end_date) && (et.tripMeta.start_date !== et.tripMeta.end_date)"
                    class="daterange">
                    <strong>
                        <resultdate class="black" date="et.tripMeta.start_date"></resultdate>
                    </strong>
                    bis
                    <strong>
                        <resultdate class="black" date="et.tripMeta.end_date"></resultdate>
                    </strong>
                </div>
                <p>von <strong>{{userName}}</strong></p>

                <span>{{et.selectedDay.title}}</span>

            <span>| {{et.selectedLocations.length}} Location<span
                ng-if="et.selectedLocations.length !== 1">s</span></span>
               <span ng-if="et.tripMeta.persons"> <span> | <strong>{{et.tripMeta.persons}}</strong> Person</span><span
                ng-show="et.tripMeta.persons > 1">en</span></span>


                <div class="accu-container">
                    <span class="equ-headline info-headline" ng-show="et.tripMeta.accommodation">mit Übernachtung</span>
                    <acc-equ-chooser class="equ-chooser" ng-show="et.tripMeta.accommodation"
                                     just-show-selected=true
                                     accommodation-equipment-selectable="et.accommodationEquipmentSelectable"
                                     accommodation-equipment="et.tripMeta.accommodation_equipment"
                                     icons-color="'white'">
                    </acc-equ-chooser>
                </div>


            </div>
        </div>
        <div class="bottom-wrapper relative">
            <div class="col-sm-9">


                <label>Triptitel</label>

                <div class="trip-title">
                    <input maxlength="40" ng-class="{'error': et.validationFails && et.tripMeta.title.length < 2}"
                           ng-class="{'err': (et.error && et.tripMeta.title < 1) }" reguired
                           ng-model="et.tripMeta.title" placeholder="Triptitel eingeben" type="text">
                </div>

                <label>Beschreibe deinen Trip <span class="max-length">({{300 - et.tripMeta.description.length}} Zeichen)</span></label>
            <textarea maxlength="300" ng-class="{'error': et.validationFails && et.tripMeta.description.length < 2}"
                      class="description" ng-model="et.tripMeta.description"
                      placeholder="Beschreibe deinen Trip"></textarea>
            </div>

            <div class="col-sm-3 absolute-bottom-right">
                <a class="red button next-button" ng-click="et.saveTrip()">Trip speichern</a>
            </div>
        </div>

    </div>

</div>





