<div class="container trip-success-container relative">
    <div class="wrapper">
        <div class="row">
            <div class="tripsuccess-image relative col-sm-8"
                 style="background-image: url({{successImg}}); background-size: cover;">
                <div class="success-overlay">
                    <h2>Dein Trip wurde hinzugefügt</h2>
                </div>
            </div>
            <div class="col-sm-4 infobox">
                <ul class="success-menu">
                    <li class="pointer" ui-sref="trip({tripId: lastInsertedTripId})"><div class="image" style="background-image: url('./images/icons/ansehen.png')"></div><a class="pointer">Trip ansehen</a></li>
                    <li class="pointer" ui-sref="user({profileId: userID, tab: 'trips'})"><div class="image" style="background-image: url('./images/icons/alle_trips.png')"></div><a class="pointer" >Alle Trips ansehen</a></li>
                    <li class="pointer" ui-sref="insertTrip"><div class="image" style="background-image: url('./images/icons/trip_erstellen.png')"></div><a class="pointer">Weiteren Trip hinzufügen</a></li>
                    <li class="pointer" ui-sref="user({profileId: userID, tab: 'locations'})"><div class="image" style="background-image: url('./images/icons/all_locations.png')"></div><a class="pointer" >Alle Locations ansehen</a></li>
                    <li class="pointer" ui-sref="insertLocation"><div class="image" style="background-image: url('./images/icons/location_hinzufuegen.png')"></div><a class="pointer">Location hinzufügen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
