<div class="row relative trip-wrapper">

    <div class="controls">
        <a ng-click="et.deSelectLocation(location)"><img class="pointer control-button insert-location"
                                                          src="images/icons/trip/cross.png"></a>
    </div>

    <div class="col-xs-3 img-wrapper pointer"
         ng-if="location.images.picture" ng-click="et.triggerPrevew(location)" style="background-image: url({{location.images.picture + '?s=small'}}); background-size: cover;">

        <img ng-if="!location.opened" class="bigger-button" src="images/icons/bigger.png">
        <img ng-if="location.opened" class="bigger-button smaller-button" src="images/icons/smaller.png">

    </div>

    <div class="col-xs-3 img-wrapper pointer"
         ng-if="!location.images.picture" ng-click="et.triggerPrevew(location)" style="background-image: url({{location.images.googlemap + '&size=400x234&key=AIzaSyCveLtBw4QozQIkMstvefLSTd3_opSvHS4'}}); background-size: cover;">

        <img ng-if="!location.opened" class="bigger-button" src="images/icons/bigger.png">
        <img ng-if="location.opened" class="bigger-button smaller-button" src="images/icons/smaller.png">

    </div>


    <div class="content-wrapper col-xs-9">

        <div ng-click="et.deSelectLocation(location)" class="hide-mobile pointer select-overlay">
            <img class="preview trip-selection img-responsive" src="images/icons/trip/cross.png">
        </div>

        <h3>{{location.title}}</h3>

        <p ng-if="!location.opened" class="hide-mobile location-description short">{{location.description | truncate: 68}}</p>
        <p ng-if="location.opened" class="location-description">{{location.description}}</p>

        <div class="location-tags tags">
            <span ng-repeat="tag in location.tags | limitTo: 3 track by $index" class="tag">{{tag}}</span>
        </div>

    </div>

    <div ng-click="et.deSelectLocation(location)" class="hide-desktop col-xs-1 select-overlay pointer">
        <a><img class="preview trip-selection img-responsive" src="images/icons/trip/cross.png"></a>
    </div>

</div>

