<div class="row relative">

    <div class="controls">
        <a ng-click="et.deSelectLocation(location)"><img class="pointer control-button insert-location"
                                                          src="images/icons/trip/cross.png"></a>
    </div>

    <div class="col-xs-3 img-wrapper"
         style="background-image: url({{location.images.thumbnail || location.images.googlemap + '&size=170x140'}}); background-size: cover;">


    <!--<img
        ng-click="et.triggerPrevew(location)"
        ng-src="{{location.images.thumbnail || location.images.googlemap + '&size=170x140'}}"
        class="pointer location-picture img-responsive border-radius-decent"/>-->
    </div>


    <div class="content-wrapper col-xs-9">

        <div ng-click="et.deSelectLocation(location)" class="pointer select-overlay">
            <a><img class="trip-selection img-responsive" src="images/icons/trip/cross.png"></a>
        </div>

        <h3>{{location.title}}</h3>

        <div class="location-tags tags">
            <span ng-repeat="tag in location.tags | limitTo: 3 track by $index" class="tag">{{tag}}</span>
        </div>

        <p class="location-description">{{location.description}}</p>

    </div>

</div>

