
<div class="row">
    <div class="col-xs-3 img-wrapper"><img
        ng-src="{{location.images.thumbnail || location.images.googlemap + '&size=140x140'}}"
        class="location-picture img-responsive border-radius-decent"/>
    </div>

    <div class="content-wrapper col-xs-9">

        <h3>{{location.title}}</h3>

        <div class="location-tags tags">
            <span ng-repeat="tag in location.tags | limitTo: 3" class="tag">{{tag}}</span>
        </div>

        <p class="location-description">{{location.description}}</p>

    </div>

</div>
